# Created by .ignore support plugin (hsz.mobi)
.idea/

open-api/**/*.js

scan-api/app.js
scan-api/config/local.js
scan-api/index.js
scan-api/router/index.js
scan-api/router/jsonrpc.js
scan-api/router/v1.js
scan-api/scan-api.iml
scan-api/service/AccountService.js
scan-api/service/AnnounceService.js
scan-api/service/BlockService.js
scan-api/service/ConfluxService.js
scan-api/service/ContractService.js
scan-api/service/EpochService.js
scan-api/service/EventLogService.js
scan-api/service/RecaptchaService.js
scan-api/service/StatisticService.js
scan-api/service/TokenService.js
scan-api/service/TransactionService.js
scan-api/service/TransferService.js
scan-api/service/index.js
scan-api/starter.js
scan-api/tsconfig.tsbuildinfo

scan-compiler/config/local.js

**/*.d.ts
**/*.d.ts.map
node_modules/
package-lock.json
stat/config/Prod-mainnet-back.ts
stat/config/Prod-mainnet-main.ts
stat/config/Prod-testnet-main.ts
stat/config/Prod.ts
stat/**/*.js
stat/dist/
