# Created by .ignore support plugin (hsz.mobi)
.idea/

node_modules/
package-lock.json
stat/config/Prod-mainnet-back.ts
stat/config/Prod-mainnet-main.ts
stat/config/Prod-testnet-main.ts
stat/config/Prod.ts
stat/dist/
