openapi: 3.0.3
info:
  title: Chain Scan OpenAPI
  description: |-
    Use any http client to fetch data from the ChainScan mainnet or testnet.

    ### Endpoints:

    | API Host | Net |
    |---|---|---|---|
    | [https://chainscan.0g.ai/open/doc](https://chainscan.0g.ai/open/doc) | Mainnet |
    | [https://chainscan-galileo.0g.ai/open/doc](https://chainscan-galileo.0g.ai/open/doc) | Testnet |

    ### Notes:

    - Timestamp is in seconds format.
    - Maximum `skip` is 10,000 when paging.
    - Maximum `limit` is 100 when paging.
    - The block list, transaction list, native token transfer list and token transfer list querying by account dimension can only view the latest 20,000 records due to data pruning.

    ### Rate Limit:

    Reference for various API tiers and their rate limits.

    | API Tier | Price | Rate Limit |
    |---|---|---|
    | Free | $0 | 5 calls/second, up to 100,000 calls/day |

  version: "0.0.3"
servers:
  - url: "https://chainscan.0g.ai"
    description: Mainnet
  - url: "https://chainscan-galileo.0g.ai"
    description: Testnet
security:
  - ApiKeyQuery: []    
  - ApiKeyHeader: []
tags:
  - name: "Accounts - Etherscan compatible"
    description: "Accounts - Etherscan compatible endpoints"
  - name: "Contracts - Etherscan compatible"
    description: "Contracts - Etherscan compatible endpoints"
  - name: "Blocks - Etherscan compatible"
    description: "Blocks - Etherscan compatible endpoints"
  - name: "Transactions - Etherscan compatible"
    description: "Transactions - Etherscan compatible endpoints"
  - name: "Stats - Etherscan compatible"
    description: "Stats - Etherscan compatible endpoints"  
  - name: "NFT Assets"
    description: "NFT endpoints for balances, tokens, owners, and transfers."
  - name: "Utils"
    description: "Utility endpoints such as transaction input decoding."
  - name: "Stats"
    description: "On-chain statistics and ranking data."
  - name: "data"
    description: "Low-level data listing and cursor-based retrieval endpoints."  
paths:
  "/api?module=account&action=balance":
    get:
      tags:
        - "Accounts - Etherscan compatible"
      summary: "Get native token balance for a single address at the specified tag or latest state."
      operationId: getNativeBalanceByAddress
      description: Get native token Balance for a Single Address
      parameters:
        - $ref: "#/components/parameters/addressMust"
        - $ref: "#/components/parameters/tag"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CommonResponse"
  "/api?module=account&action=balancemulti":
    get:
      tags:
        - "Accounts - Etherscan compatible"
      summary: "Get native token balances for multiple addresses in one request at the specified tag."
      operationId: getNativeBalancesByMultipleAddresses
      description: Get native token Balance for Multiple Addresses in a Single Call
      parameters:
        - $ref: "#/components/parameters/addressMust"
        - $ref: "#/components/parameters/tag"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BalanceMulti"
  "/api?module=account&action=txlist":
    get:
      tags:
        - "Accounts - Etherscan compatible"
      summary: "List normal transactions for an address with block range, pagination, and sort order filters."
      operationId: listNormalTransactionsByAddress
      description: "Get a list of 'Normal' Transactions By Address"
      parameters:
        - $ref: "#/components/parameters/addressMust"
        - $ref: "#/components/parameters/startblock"
        - $ref: "#/components/parameters/endblock"
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/offset"
        - $ref: "#/components/parameters/sortParam"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TxList"
  "/api?module=account&action=tokentx":
    get:
      tags:
        - "Accounts - Etherscan compatible"
      summary: "List ERC20 token transfer events filtered by address, contract address, block range, pagination, and sort order."
      operationId: listErc20TransferEventsByAddressOrContract
      description: |-
        Get a list of 'ERC20 - Token Transfer Events' by Address
        Usage:
        1. ERC-20 transfers from an address, specify the address parameter
        2. ERC-20 transfers from a contract address, specify the contract address parameter
        3. ERC-20 transfers from an address filtered by a token contract, specify both address and contract address parameters.
      parameters:
        - $ref: "#/components/parameters/contractaddress"
        - $ref: "#/components/parameters/address"
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/offset"
        - $ref: "#/components/parameters/startblock"
        - $ref: "#/components/parameters/endblock"
        - $ref: "#/components/parameters/sortParam"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Transfer20List"
  "/api?module=account&action=tokennfttx":
    get:
      tags:
        - "Accounts - Etherscan compatible"
      summary: "List ERC721 token transfer events filtered by address, contract address, block range, pagination, and sort order."
      operationId: listErc721TransferEventsByAddressOrContract
      description: |-
        Get a list of 'ERC721 - Token Transfer Events' by Address
        Usage:
        1. ERC-721 transfers from an address, specify the address parameter
        2. ERC-721 transfers from a contract address, specify the contract address parameter
        3. ERC-721 transfers from an address filtered by a token contract, specify both address and contract address parameters.
      parameters:
        - $ref: "#/components/parameters/contractaddress"
        - $ref: "#/components/parameters/address"
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/offset"
        - $ref: "#/components/parameters/startblock"
        - $ref: "#/components/parameters/endblock"
        - $ref: "#/components/parameters/sortParam"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Transfer721List"
  "/api?module=account&action=getminedblocks":
    get:
      tags:
        - "Accounts - Etherscan compatible"
      summary: "List blocks mined by the specified address, with block type and pagination options."
      operationId: listBlocksMinedByAddress
      description: Get list of Blocks Mined by Address
      parameters:
        - $ref: "#/components/parameters/addressMust"
        - $ref: "#/components/parameters/blocktype"
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/offset"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MinedBlockList"
  "/api?module=account&action=balancehistory":
    get:
      tags:
        - "Accounts - Etherscan compatible"
      summary: "Get historical native token balance for a single address at a specific block number."
      operationId: getHistoricalNativeBalanceByAddressAndBlock
      description: Get Historical native token Balance for a Single Address By BlockNo
      parameters:
        - $ref: "#/components/parameters/addressMust"
        - $ref: "#/components/parameters/blocknoMust"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BalanceHistory"
  "/api?module=contract&action=getabi":
    get:
      tags:
        - "Contracts - Etherscan compatible"
      summary: "Get verified contract ABI by contract address."
      operationId: getVerifiedContractAbiByAddress
      description: Get Contract ABI for Verified Contract Source Codes
      parameters:
        - $ref: "#/components/parameters/addressMust"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CommonResponse"
  "/api?module=contract&action=getsourcecode":
    get:
      tags:
        - "Contracts - Etherscan compatible"
      summary: "Get verified contract source code and verification metadata by contract address."
      operationId: getVerifiedContractSourceCodeByAddress
      description: Get Contract Source Code for Verified Contract Source Codes
      parameters:
        - $ref: "#/components/parameters/addressMust"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ContractInfo"
  "/api?module=contract&action=getcontractcreation":
    get:
      tags:
        - "Contracts - Etherscan compatible"
      summary: "Get deployer address and creation transaction hash for up to 5 contract addresses."
      operationId: getContractCreationInfoByContractAddresses
      description: "Returns a contract's deployer address and transaction hash it was created, up to 5 at a time."
      parameters:
        - $ref: "#/components/parameters/contractAddressesParam"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ContractCreationInfo"
  /api:
    post:
      tags:
        - "Contracts - Etherscan compatible"
      summary: "Submit verified contract source code for verification using form parameters and receive a tracking GUID or status message."
      operationId: submitContractSourceCodeVerification
      description: "Verify Source Code - Source Code Submission Gist"
      requestBody:
        content:
          "application/x-www-form-urlencoded":
            schema:
              $ref: "#/components/schemas/VerifySourcecode"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CommonResponse"
  "/api?module=contract&action=checkverifystatus":
    get:
      tags:
        - "Contracts - Etherscan compatible"
      summary: "Check source code verification submission status by GUID."
      operationId: checkContractSourceVerificationStatusByGuid
      description: "Verify Source Code - Check Source Code Verification Submission Status"
      parameters:
        - $ref: "#/components/parameters/guidMust"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ContractInfo"
  "/api?module=contract&action=verifyproxycontract":
    get:
      tags:
        - "Contracts - Etherscan compatible"
      summary: "Submit proxy contract verification for an address and optional expected implementation."
      operationId: submitProxyContractVerification
      description: Verifying Proxy Contract using cURL
      parameters:
        - $ref: "#/components/parameters/addressMust"
        - $ref: "#/components/parameters/expectedimplementation"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CommonResponse"
  "/api?module=contract&action=checkproxyverification":
    get:
      tags:
        - "Contracts - Etherscan compatible"
      summary: "Check proxy contract verification submission status by GUID."
      operationId: checkProxyContractVerificationStatusByGuid
      description: Checking Proxy Contract Verification Submission Status using cURL
      parameters:
        - $ref: "#/components/parameters/guidMust"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CommonResponse"
  "/api?module=transaction&action=getstatus":
    get:
      tags:
        - "Transactions - Etherscan compatible"
      summary: "Get contract execution status for a transaction hash."
      operationId: getContractExecutionStatusByTransactionHash
      description: Check Contract Execution Status
      parameters:
        - $ref: "#/components/parameters/txhashMust"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ContractExecutionStatus"
  "/api?module=transaction&action=gettxreceiptstatus":
    get:
      tags:
        - "Transactions - Etherscan compatible"
      summary: "Get transaction receipt status for a transaction hash."
      operationId: getTransactionReceiptStatusByTransactionHash
      description: Check Transaction Receipt Status
      parameters:
        - $ref: "#/components/parameters/txhashMust"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TransactionReceiptStatus"
  "/api?module=block&action=getblocknobytime":
    get:
      tags:
        - "Blocks - Etherscan compatible"
      summary: "Get the closest block number before or after a given Unix timestamp."
      operationId: getBlockNumberClosestToTimestamp
      description: Get Block Number by Timestamp
      parameters:
        - $ref: "#/components/parameters/timestampMust"
        - $ref: "#/components/parameters/closest"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CommonResponse"              
  "/api?module=stats&action=tokensupply":
    get:
      tags:
        - "Tokens - Etherscan compatible"
      summary: "Get current ERC20 total supply by contract address."
      operationId: getErc20TotalSupplyByContractAddress
      description: "Get ERC20-Token TotalSupply by ContractAddress"
      parameters:
        - $ref: "#/components/parameters/contractaddressMust"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CommonResponse"
  "/api?module=account&action=tokenbalance":
    get:
      tags:
        - "Tokens - Etherscan compatible"
      summary: "Get ERC20 token balance for an address under a specific token contract."
      operationId: getErc20TokenBalanceByAddressAndContract
      description: "Get ERC20-Token Account Balance for TokenContractAddress"
      parameters:
        - $ref: "#/components/parameters/contractaddressMust"
        - $ref: "#/components/parameters/addressMust"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CommonResponse"
  "/api?module=stats&action=tokensupplyhistory":
    get:
      tags:
        - "Tokens - Etherscan compatible"
      summary: "Get historical ERC20 total supply by contract address and block number."
      operationId: getHistoricalErc20TotalSupplyByContractAddressAndBlock
      description: "Get Historical ERC20-Token TotalSupply by ContractAddress & BlockNo"
      parameters:
        - $ref: "#/components/parameters/contractaddressMust"
        - $ref: "#/components/parameters/blocknoMust"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CommonResponse"
  "/api?module=account&action=tokenbalancehistory":
    get:
      tags:
        - "Tokens - Etherscan compatible"
      summary: "Get historical ERC20 token balance for an address and contract at a specific block number."
      operationId: getHistoricalErc20TokenBalanceByAddressContractAndBlock
      description: "Get Historical ERC20-Token Account Balance for TokenContractAddress by BlockNo"
      parameters:
        - $ref: "#/components/parameters/contractaddressMust"
        - $ref: "#/components/parameters/addressMust"
        - $ref: "#/components/parameters/blocknoMust"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CommonResponse"
  /nft/balances:
    get:
      tags:
        - NFT Assets
      summary: "List NFT asset balances for an owner address with pagination."
      operationId: listNftBalancesByOwner
      description: Get balances of NFT assets for account address.
      parameters:
        - $ref: "#/components/parameters/ownerParamMust"
        - $ref: "#/components/parameters/skipParamWithoutMaximum"
        - $ref: "#/components/parameters/limitParam"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NFTBalanceList"
  /nft/tokens:
    get:
      tags:
        - NFT Assets
      summary: "List NFT tokens by owner and/or contract, with cursor or skip pagination, sorting, and optional brief metadata."
      operationId: listNftTokensByOwnerOrContract
      description: |-
        Get token id array of specified NFT contract for account address.
        At least one of the parameters 'contract' and 'owner' is required.
      parameters:
        - $ref: "#/components/parameters/contractParam"
        - $ref: "#/components/parameters/ownerParam"
        - $ref: "#/components/parameters/sortParam"
        - $ref: "#/components/parameters/sortFieldParam"
        - $ref: "#/components/parameters/cursorParamWithoutMaximum"
        - $ref: "#/components/parameters/skipParamWithoutMaximum"
        - $ref: "#/components/parameters/limitParam"
        - $ref: "#/components/parameters/withBriefParam"
        - $ref: "#/components/parameters/withMetadataParam"
        - $ref: "#/components/parameters/suppressMetadataErrorParam"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NFTTokenList"
  /nft/preview:
    get:
      tags:
        - NFT Assets
      summary: "Get preview information and optional metadata for a specific NFT by contract address and token ID."
      operationId: getNftPreviewByContractAndTokenId
      description: View the NFT for the specified contract address and tokenID.
      parameters:
        - $ref: "#/components/parameters/contractParamMust"
        - $ref: "#/components/parameters/tokenIdParamMust"
        - $ref: "#/components/parameters/withMetadataParam"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NFTPreview"
  /nft/fts:
    get:
      tags:
        - NFT Assets
      summary: "Search NFTs by metadata name and optionally by contract address."
      operationId: searchNftsByNameOrContract
      description: Search the NFT by NFT name and/or contract address.
      parameters:
        - $ref: "#/components/parameters/nameParamMust"
        - $ref: "#/components/parameters/contractParam"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NFTTokenFtsList"
  /nft/owners:
    get:
      tags:
        - NFT Assets
      summary: "List owners of an NFT collection or specific token, with cursor pagination."
      operationId: listNftOwnersByContractOrTokenId
      description: Get a list of owners for a NFT or a NFT collection. The owners are sorted by transfer timestamp with ascending direction
      parameters:
        - $ref: "#/components/parameters/contractParamMust"
        - $ref: "#/components/parameters/tokenIdParam"
        - $ref: "#/components/parameters/cursorParamWithoutMaximum"
        - $ref: "#/components/parameters/limitParam"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NFTOwnerList"
  /nft/transfers:
    get:
      tags:
        - NFT Assets
      summary: "List NFT transfer records for a collection or token, filterable by participants, block range, timestamps, pagination, and sort order."
      operationId: listNftTransfersByContractOrTokenId
      description: Get a list of transfers for a NFT
      parameters:
        - $ref: "#/components/parameters/contractParamMust"
        - $ref: "#/components/parameters/tokenIdParam"
        - $ref: "#/components/parameters/cursorParamWithoutMaximum"
        - $ref: "#/components/parameters/limitParam"
        - $ref: "#/components/parameters/fromParam"
        - $ref: "#/components/parameters/toParam"
        - $ref: "#/components/parameters/startBlockParam"
        - $ref: "#/components/parameters/endBlockParam"
        - $ref: "#/components/parameters/minTimestampParam"
        - $ref: "#/components/parameters/maxTimestampParam"
        - $ref: "#/components/parameters/sortParam"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TransferList"
  /util/decode/method:
    get:
      tags:
        - Utils
      summary: "Decode method data for up to 10 verified-contract transactions by transaction hash."
      operationId: decodeVerifiedContractMethodByTransactionHashes
      description: "Decode the data of the transaction, where the `to` address of the transaction is the verified contract. Supports up to 10 transactions at a time."
      parameters:
        - $ref: "#/components/parameters/hashesParam"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DecodedMethod"
  /util/decode/method/raw:
    get:
      tags:
        - Utils
      summary: "Decode method data for up to 10 verified-contract raw inputs by contract address and calldata."
      operationId: decodeVerifiedContractMethodByRawContractAndInput
      description: "Decode the data of the raw transaction, where the `to` address of the transaction is the verified contract. Supports up to 10 transactions at a time."
      parameters:
        - $ref: "#/components/parameters/contractsParam"
        - $ref: "#/components/parameters/inputsParam"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DecodedMethodRaw"
  /statistics/tps:
    get:
      tags:
        - Stats
      summary: "List TPS statistics over time, filterable by interval, timestamps, pagination, and sort order."
      operationId: listTpsStatisticsByInterval
      description: "Get statistics of tps within ${limit} ${intervalType}."
      parameters:
        - name: intervalType
          description: "Indicate calculation period, should be one of min(minute), hour or day. Default is hour."
          in: query
          required: false
          schema:
            type: string
            default: hour
            enum:
              - min
              - hour
              - day
        - $ref: "#/components/parameters/minTimestampParam"
        - $ref: "#/components/parameters/maxTimestampParam"
        - $ref: "#/components/parameters/sortParam"
        - $ref: "#/components/parameters/skipParamWithoutMaximum"
        - $ref: "#/components/parameters/limitParamStat"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TpsStat"
  /statistics/contract:
    get:
      tags:
        - Stats
      summary: "List deployed contract statistics over time, filterable by timestamps, pagination, and sort order."
      operationId: listDeployedContractStatistics
      description: Get statistics of deployed contract.
      parameters:
        - $ref: "#/components/parameters/minTimestampParam"
        - $ref: "#/components/parameters/maxTimestampParam"
        - $ref: "#/components/parameters/sortParam"
        - $ref: "#/components/parameters/skipParamWithoutMaximum"
        - $ref: "#/components/parameters/limitParamStat"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ContractDeployedStat"
  /statistics/account/growth:
    get:
      tags:
        - Stats
      summary: "List daily account growth statistics, filterable by timestamps, pagination, and sort order."
      operationId: listDailyAccountGrowthStatistics
      description: Get statistics of account growth by daily.
      parameters:
        - $ref: "#/components/parameters/minTimestampParam"
        - $ref: "#/components/parameters/maxTimestampParam"
        - $ref: "#/components/parameters/sortParam"
        - $ref: "#/components/parameters/skipParamWithoutMaximum"
        - $ref: "#/components/parameters/limitParamStat"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountGrowthStat"
  /statistics/account/active:
    get:
      tags:
        - Stats
      summary: "List daily active sender statistics, filterable by timestamps, pagination, and sort order."
      operationId: listDailyActiveSenderStatistics
      description: Get statistics of tx sender by daily.
      parameters:
        - $ref: "#/components/parameters/minTimestampParam"
        - $ref: "#/components/parameters/maxTimestampParam"
        - $ref: "#/components/parameters/sortParam"
        - $ref: "#/components/parameters/skipParamWithoutMaximum"
        - $ref: "#/components/parameters/limitParamStat"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountActiveStat"
  /statistics/transaction:
    get:
      tags:
        - Stats
      summary: "List daily transaction statistics, filterable by timestamps, pagination, and sort order."
      operationId: listDailyTransactionStatistics
      description: Get statistics of transaction account by daily.
      parameters:
        - $ref: "#/components/parameters/minTimestampParam"
        - $ref: "#/components/parameters/maxTimestampParam"
        - $ref: "#/components/parameters/sortParam"
        - $ref: "#/components/parameters/skipParamWithoutMaximum"
        - $ref: "#/components/parameters/limitParamStat"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TransactionStat"
  /statistics/token/transfer:
    get:
      tags:
        - Stats
      summary: "List daily token transfer statistics, optionally filtered by token contract and by timestamps, pagination, and sort order."
      operationId: listDailyTokenTransferStatistics
      description: Get statistics of token transfer by daily.
      parameters:
        - $ref: "#/components/parameters/contractParam"
        - $ref: "#/components/parameters/minTimestampParam"
        - $ref: "#/components/parameters/maxTimestampParam"
        - $ref: "#/components/parameters/sortParam"
        - $ref: "#/components/parameters/skipParamWithoutMaximum"
        - $ref: "#/components/parameters/limitParamStat"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TokenTransferStat"
  /statistics/top/gas/used:
    get:
      tags:
        - Stats
      summary: "List top gas-using entities for a selected time span of 24h, 3d, or 7d."
      operationId: listTopGasUsedStatistics
      description: Get statistics of gas used for top 10.
      parameters:
        - $ref: "#/components/parameters/spanParam"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GasUsedTopStat"
  /statistics/top/miner:
    get:
      tags:
        - Stats
      summary: "List top miners for a selected time span of 24h, 3d, or 7d."
      operationId: listTopMinerStatistics
      description: Get statistics of miner for top 10.
      parameters:
        - $ref: "#/components/parameters/spanParam"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MinerTopStat"
  /statistics/top/transaction/sender:
    get:
      tags:
        - Stats
      summary: "List top transaction senders for a selected time span of 24h, 3d, or 7d."
      operationId: listTopTransactionSenderStatistics
      description: Get statistics of transaction sender for top 10.
      parameters:
        - $ref: "#/components/parameters/spanParam"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AddressTransactionTopStat"
  /statistics/top/transaction/receiver:
    get:
      tags:
        - Stats
      summary: "List top transaction receivers for a selected time span of 24h, 3d, or 7d."
      operationId: listTopTransactionReceiverStatistics
      description: Get statistics of transaction receiver for top 10.
      parameters:
        - $ref: "#/components/parameters/spanParam"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AddressTransactionTopStat"
  /statistics/top/token/transfer:
    get:
      tags:
        - Stats
      summary: "List top token transfer statistics for a selected time span of 24h, 3d, or 7d."
      operationId: listTopTokenTransferStatistics
      description: Get statistics of token transfer for top 10.
      parameters:
        - $ref: "#/components/parameters/spanParam"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TokenTransferTopStat"
  /statistics/top/token/sender:
    get:
      tags:
        - Stats
      summary: "List top token senders for a selected time span of 24h, 3d, or 7d."
      operationId: listTopTokenSenderStatistics
      description: Get statistics of token sender for top 10.
      parameters:
        - $ref: "#/components/parameters/spanParam"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TokenSenderTopStat"
  /statistics/top/token/receiver:
    get:
      tags:
        - Stats
      summary: "List top token receivers for a selected time span of 24h, 3d, or 7d."
      operationId: listTopTokenReceiverStatistics
      description: Get statistics of token receiver for top 10.
      parameters:
        - $ref: "#/components/parameters/spanParam"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TokenReceiverTopStat"
  /statistics/top/token/participant:
    get:
      tags:
        - Stats
      summary: "List top token participants for a selected time span of 24h, 3d, or 7d."
      operationId: listTopTokenParticipantStatistics
      description: Get statistics of token participant for top 10.
      parameters:
        - $ref: "#/components/parameters/spanParam"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TokenParticipantTopStat"
  /statistics/token/holder:
    get:
      tags:
        - Stats
      summary: "List daily token holder count statistics for a contract, filterable by timestamps, pagination, and sort order."
      operationId: listDailyTokenHolderStatistics
      description: Get statistics of holder count for token transfer by daily.
      parameters:
        - $ref: "#/components/parameters/contractParamMust"
        - $ref: "#/components/parameters/minTimestampParam"
        - $ref: "#/components/parameters/maxTimestampParam"
        - $ref: "#/components/parameters/sortParam"
        - $ref: "#/components/parameters/skipParamWithoutMaximum"
        - $ref: "#/components/parameters/limitParamStat"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TokenHolderStat"
  /statistics/token/unique/sender:
    get:
      tags:
        - Stats
      summary: "List daily unique token sender statistics for a contract, filterable by timestamps, pagination, and sort order."
      operationId: listDailyUniqueTokenSenderStatistics
      description: Get statistics of unique sender count for token transfer by daily.
      parameters:
        - $ref: "#/components/parameters/contractParamMust"
        - $ref: "#/components/parameters/minTimestampParam"
        - $ref: "#/components/parameters/maxTimestampParam"
        - $ref: "#/components/parameters/sortParam"
        - $ref: "#/components/parameters/skipParamWithoutMaximum"
        - $ref: "#/components/parameters/limitParamStat"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TokenTransferUniqueSenderStat"
  /statistics/token/unique/receiver:
    get:
      tags:
        - Stats
      summary: "List daily unique token receiver statistics for a contract, filterable by timestamps, pagination, and sort order."
      operationId: listDailyUniqueTokenReceiverStatistics
      description: Get statistics of unique receiver count for token transfer by daily.
      parameters:
        - $ref: "#/components/parameters/contractParamMust"
        - $ref: "#/components/parameters/minTimestampParam"
        - $ref: "#/components/parameters/maxTimestampParam"
        - $ref: "#/components/parameters/sortParam"
        - $ref: "#/components/parameters/skipParamWithoutMaximum"
        - $ref: "#/components/parameters/limitParamStat"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TokenTransferUniqueReceiverStat"
  /statistics/token/unique/participant:
    get:
      tags:
        - Stats
      summary: "List daily unique token participant statistics for a contract, filterable by timestamps, pagination, and sort order."
      operationId: listDailyUniqueTokenParticipantStatistics
      description: Get statistics of unique participant count for token transfer by daily.
      parameters:
        - $ref: "#/components/parameters/contractParamMust"
        - $ref: "#/components/parameters/minTimestampParam"
        - $ref: "#/components/parameters/maxTimestampParam"
        - $ref: "#/components/parameters/sortParam"
        - $ref: "#/components/parameters/skipParamWithoutMaximum"
        - $ref: "#/components/parameters/limitParamStat"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TokenTransferUniqueParticipantStat"
  "/statistics/block/base-fee":
    get:
      tags:
        - Stats
      summary: "List block base fee statistics over time, filterable by timestamps, pagination, and sort order."
      operationId: listBlockBaseFeeStatistics
      description: "Get statistics of base fee within ${limit}."
      parameters:
        - $ref: "#/components/parameters/minTimestampParam"
        - $ref: "#/components/parameters/maxTimestampParam"
        - $ref: "#/components/parameters/sortParam"
        - $ref: "#/components/parameters/skipParamWithoutMaximum"
        - $ref: "#/components/parameters/limitParamStat"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BaseFeeStat"
  "/statistics/block/avg-priority-fee":
    get:
      tags:
        - Stats
      summary: "List block average priority fee statistics over time, filterable by timestamps, pagination, and sort order."
      operationId: listBlockAveragePriorityFeeStatistics
      description: "Get statistics of average priority fee within ${limit}."
      parameters:
        - $ref: "#/components/parameters/minTimestampParam"
        - $ref: "#/components/parameters/maxTimestampParam"
        - $ref: "#/components/parameters/sortParam"
        - $ref: "#/components/parameters/skipParamWithoutMaximum"
        - $ref: "#/components/parameters/limitParamStat"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AvgPriorityFeeStat"
  "/statistics/block/gas-used":
    get:
      tags:
        - Stats
      summary: "List block gas used statistics over time, filterable by timestamps, pagination, and sort order."
      operationId: listBlockGasUsedStatistics
      description: "Get statistics of gas used within ${limit}."
      parameters:
        - $ref: "#/components/parameters/minTimestampParam"
        - $ref: "#/components/parameters/maxTimestampParam"
        - $ref: "#/components/parameters/sortParam"
        - $ref: "#/components/parameters/skipParamWithoutMaximum"
        - $ref: "#/components/parameters/limitParamStat"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GasUsedStat"
  "/statistics/block/txs-by-type":
    get:
      tags:
        - Stats
      summary: "List block transaction-type statistics over time, filterable by timestamps, pagination, and sort order."
      operationId: listBlockTransactionTypeStatistics
      description: "Get statistics of transactions by type within ${limit}."
      parameters:
        - $ref: "#/components/parameters/minTimestampParam"
        - $ref: "#/components/parameters/maxTimestampParam"
        - $ref: "#/components/parameters/sortParam"
        - $ref: "#/components/parameters/skipParamWithoutMaximum"
        - $ref: "#/components/parameters/limitParamStat"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TxsByTypeStat"
  /data/accounts:
    get:
      tags:
        - data
      summary: "GET /data/accounts"
      operationId: getUnnamedOperation
      description: Get accounts on the blockchain.
      parameters:
        - $ref: "#/components/parameters/idCursor"
        - $ref: "#/components/parameters/limitParam"
        - $ref: "#/components/parameters/sortParam"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StringArray"
components:
  schemas:
    ResponseBase:
      type: object
      properties:
        status:
          type: string
          description: Response status code (1 for success, 0 for error).
          example: "1"
        message:
          type: string
          description: Response message.
          example: "OK"
        result:
          description: Endpoint-specific response payload.  
    CommonResponse:
      allOf:
        - $ref: '#/components/schemas/ResponseBase'
        - type: object
          properties:
            result:
              type: string
    BalanceMulti:
      allOf:
        - $ref: '#/components/schemas/ResponseBase'
        - type: object
          properties:
            result:
              type: array
              items:
                type: object
                properties:
                  address:
                    type: string
                    description: Account address
                  balance:
                    type: string
                    description: Account balance
    TxList:
      allOf:
        - $ref: '#/components/schemas/ResponseBase'
        - type: object
          properties:
            result:
              type: array
              items:
                type: object
                properties:
                  blockNumber:
                    type: string
                  timeStamp:
                    type: string
                  hash:
                    type: string
                  nonce:
                    type: string
                  blockHash:
                    type: string
                  transactionIndex:
                    type: string
                  from:
                    type: string
                  to:
                    type: string
                  value:
                    type: string
                  gas:
                    type: string
                  gasPrice:
                    type: string
                  isError:
                    type: string
                  txreceipt_status:
                    type: string
                  input:
                    type: string
                  contractAddress:
                    type: string
                  cumulativeGasUsed:
                    type: string
                  gasUsed:
                    type: string
                  confirmations:
                    type: string
    Transfer20List:
      allOf:
        - $ref: '#/components/schemas/ResponseBase'
        - type: object
          properties:
            result:
              type: array
              items:
                type: object
                properties:
                  blockNumber:
                    type: string
                  timeStamp:
                    type: string
                  hash:
                    type: string
                  nonce:
                    type: string
                  blockHash:
                    type: string
                  from:
                    type: string
                  contractAddress:
                    type: string
                  to:
                    type: string
                  value:
                    type: string
                  tokenName:
                    type: string
                  tokenSymbol:
                    type: string
                  tokenDecimal:
                    type: string
                  transactionIndex:
                    type: string
                  gas:
                    type: string
                  gasPrice:
                    type: string
                  gasUsed:
                    type: string
                  cumulativeGasUsed:
                    type: string
                  input:
                    type: string
                    description: deprecated
                  confirmations:
                    type: string
    Transfer721List:
      allOf:
        - $ref: '#/components/schemas/ResponseBase'
        - type: object
          properties:
            result:
              type: array
              items:
                type: object
                properties:
                  blockNumber:
                    type: string
                  timeStamp:
                    type: string
                  hash:
                    type: string
                  nonce:
                    type: string
                  blockHash:
                    type: string
                  from:
                    type: string
                  contractAddress:
                    type: string
                  to:
                    type: string
                  value:
                    type: string
                  tokenName:
                    type: string
                  tokenSymbol:
                    type: string
                  tokenDecimal:
                    type: string
                  transactionIndex:
                    type: string
                  gas:
                    type: string
                  gasPrice:
                    type: string
                  gasUsed:
                    type: string
                  cumulativeGasUsed:
                    type: string
                  input:
                    type: string
                    description: deprecated
                  confirmations:
                    type: string
    MinedBlockList:
      allOf:
        - $ref: '#/components/schemas/ResponseBase'
        - type: object
          properties:
            result:
              type: array
              items:
                type: object
                properties:
                  blockNumber:
                    type: string
                    description: Block Number
                  timeStamp:
                    type: string
                    description: The timeStamp is represented in Unix timestamp
                  blockReward:
                    type: string
                    description: Block Reward
    BalanceHistory:
      allOf:
        - $ref: '#/components/schemas/ResponseBase'
        - type: object
          properties:
            result:
              type: string
    ContractInfo:
      allOf:
        - $ref: '#/components/schemas/ResponseBase'
        - type: object
          properties:
            result:
              type: array
              items:
                type: object
                properties:
                  SourceCode:
                    type: string
                  ABI:
                    type: string
                  ContractName:
                    type: string
                  CompilerVersion:
                    type: string
                  OptimizationUsed:
                    type: string
                  Runs:
                    type: string
                  ConstructorArguments:
                    type: string
                  EVMVersion:
                    type: string
                  Library:
                    type: string
                  LicenseType:
                    type: string
                  Proxy:
                    type: string
                  Implementation:
                    type: string
                  SwarmSource:
                    type: string
    ContractCreationInfo:
      allOf:
        - $ref: '#/components/schemas/ResponseBase'
        - type: object
          properties:
            result:
              type: array
              items:
                type: object
                properties:
                  contractAddress:
                    type: string
                    description: Contract address
                  contractCreator:
                    type: string
                    description: Creator address of contract
                  txHash:
                    type: string
                    description: Transaction hash in which the contact was deployed
                  blockNumber:
                    type: string
                    description: Block number in which the contact was deployed
                  timestamp:
                    type: string
                    description: The timeStamp is represented in Unix timestamp
                  contractFactory:
                    type: string
                    description: Factory address of contract
                  creationBytecode:
                    type: string
                    description: Creation bytecode of contract
    ContractExecutionStatus:
      allOf:
        - $ref: '#/components/schemas/ResponseBase'
        - type: object
          properties:
            result:
              type: object
              properties:
                isError:
                  type: string
                  description: The isError field returns 0 for successful transactions and 1 for failed transactions
                errDescription:
                  type: string
                  description: Error description
    TransactionReceiptStatus:
      allOf:
        - $ref: '#/components/schemas/ResponseBase'
        - type: object
          properties:
            result:
              type: object
              properties:
                status:
                  type: string
                  description: The status field returns 0 for failed transactions and 1 for successful transactions
    NFTBalanceList:
      allOf:
        - $ref: '#/components/schemas/ResponseBase'
        - type: object
          properties:
            result:
              type: object
              properties:
                total:
                  type: integer
                list:
                  type: array
                  items:
                    type: object
                    properties:
                      contract:
                        description: Contract address of the token.
                        type: string
                      balance:
                        description: "The token balance of an account, the string is not divided by the token decimal."
                        type: string
                      name:
                        description: Name of the token.
                        type: string
                      symbol:
                        description: Symbol of the token.
                        type: string
                      type:
                        description: "The type of the token, and it may be ERC721/ERC1155."
                        type: string
                      webSite:
                        description: The web site of the token.
                        type: string
                      iconUrl:
                        description: Icon url.
                        type: string
                        example: "http://scan-icons.oss-cn-hongkong.aliyuncs.com/testnet/xxxxxx.svg"
    NFTTokenList:
      allOf:
        - $ref: '#/components/schemas/ResponseBase'
        - type: object
          properties:
            result:
              type: object
              properties:
                total:
                  type: integer
                next:
                  description: A cursor to retrieve the next page
                  type: string
                list:
                  type: array
                  items:
                    type: object
                    properties:
                      contract:
                        description: Contract address of the token.
                        type: string
                      tokenId:
                        description: The token id.
                        type: string
                      name:
                        description: The name of NFT
                        type: string
                      image:
                        description: The image uri of NFT
                        type: string
                      description:
                        description: The description of NFT
                        type: string
                      rawData:
                        type: object
                        properties:
                          funcCall:
                            description: The function of contract which is called
                            type: string
                          tokenUri:
                            description: "uri representing the location of the NFT's original metadata blob. This is a backup for you to parse when the metadata field is not automatically populated."
                            type: string
                          metadata:
                            description: "relevant metadata for NFT contract. This is useful for viewing image url, traits, etc. without having to follow the metadata url in tokenUri to parse manually"
                      error:
                        description: A string describing a particular reason that we were unable to fetch complete metadata for the NFT.
                        type: string
    NFTPreview:
      allOf:
        - $ref: '#/components/schemas/ResponseBase'
        - type: object
          properties:
            result:
              type: object
              properties:
                contract:
                  description: Contract address of the token.
                  type: string
                tokenId:
                  description: The token id.
                  type: string
                name:
                  description: The name of NFT
                  type: string
                image:
                  description: The image uri of NFT
                  type: string
                description:
                  description: The description of NFT
                  type: string
                type:
                  description: "Token type, ERC20、ERC721 or ERC1155"
                  type: string
                owner:
                  description: The owner address.
                  type: string
                rawData:
                  type: object
                  properties:
                    funcCall:
                      description: The function of contract which is called
                      type: string
                    tokenUri:
                      description: "uri representing the location of the NFT's original metadata blob. This is a backup for you to parse when the metadata field is not automatically populated."
                      type: string
                    metadata:
                      description: "relevant metadata for NFT contract. This is useful for viewing image url, traits, etc. without having to follow the metadata url in tokenUri to parse manually"
                error:
                  description: A string describing a particular reason that we were unable to fetch complete metadata for the NFT.
                  type: string
    NFTTokenFtsList:
      allOf:
        - $ref: '#/components/schemas/ResponseBase'
        - type: object
          properties:
            result:
              type: object
              properties:
                total:
                  type: integer
                list:
                  type: array
                  items:
                    type: object
                    properties:
                      contract:
                        description: Contract address of the token.
                        type: string
                      tokenId:
                        description: The token id.
                        type: string
                      name:
                        description: The name of NFT
                        type: string
    NFTOwnerList:
      allOf:
        - $ref: '#/components/schemas/ResponseBase'
        - type: object
          properties:
            result:
              type: object
              properties:
                total:
                  type: integer
                next:
                  description: A cursor to retrieve the next page
                  type: string
                list:
                  type: array
                  items:
                    type: object
                    properties:
                      address:
                        description: The owner address.
                        type: string
                      amount:
                        description: "When a tokenId is provided, it is the amount of nft; Otherwise it is the balance of nft."
                        type: string
    AddressInfo:
      type: object
      additionalProperties:
        type: object
        properties:
          contract:
            type: object
            properties:
              name:
                type: string
                description: Name of the contract.
              verify:
                type: object
                properties:
                  result:
                    type: integer
                    description: "Verify result of the contract, 1-verified, 0-not verified."
          token:
            type: object
            properties:
              name:
                type: string
                description: Name of the token.
              symbol:
                type: string
                description: Symbol of the token.
              decimals:
                type: integer
                description: "Decimal of the token, omit if empty."
                nullable: true
              website:
                type: string
                description: "Website  of the token, optional"
                nullable: true
              iconUrl:
                type: string
                description: "Icon url, optional"
                nullable: true
              tokenType:
                type: string
                description: "Token type, ERC20、ERC721 or ERC1155"
    TransferList:
      allOf:
        - $ref: '#/components/schemas/ResponseBase'
        - type: object
          properties:
            result:
              type: object
              properties:
                total:
                  type: integer
                next:
                  description: A cursor to retrieve the next page
                  type: string
                list:
                  type: array
                  items:
                    type: object
                    properties:
                      blockNumber:
                        type: integer
                        description: Block Number
                      transactionHash:
                        type: string
                        description: Transaction Hash
                      from:
                        type: string
                        description: "Account address, it's like 0x672158893ce87d812befd2209bc1b7818fe48b2a"
                      to:
                        type: string
                        description: "Account address, it's like 0x672158893ce87d812befd2209bc1b7818fe48b2a"
                      amount:
                        type: string
                        description: "The native token value or token amount in the transfer, the string is not divided by the native-token/token decimal"
                      tokenId:
                        type: string
                        description: "The token id in ERC721/ERC1155 transfer, otherwise it is 0"
                      timestamp:
                        type: integer
                        description: Timestamp in seconds
                addressInfo:
                  $ref: "#/components/schemas/AddressInfo"
    VerifySourcecode:
      type: object
      properties:
        module:
          type: string
          required: true
          description: request module
          default: contract
        action:
          type: string
          required: true
          description: request action
          default: verifysourcecode
        contractaddress:
          type: string
          required: true
          description: the address your contract is deployed at
        sourceCode:
          type: string
          required: true
          description: contract source code
        codeformat:
          type: string
          required: true
          description: |-
            solidity single file, use solidity-single-file
            solidity JSON file ( recommended ), use solidity-standard-json-input
            vyper JSON file, use vyper-json
            fe JSON file, use fe-json
        contractname:
          type: string
          required: true
          description: |-
            the name of your contract, such as
            contracts/Verified.sol:Verified
        compilerversion:
          type: string
          required: true
          description: |-
            compiler version used
            for solc compiler, such as v0.8.24+commit.e11b9ed9
            for vyper compiler, such as vyper:0.4.0
            for fe compiler, such as fe:26.0.0-alpha.12
        optimizationUsed:
          type: string
          required: true
          description: |-
            for solc compiler, 0 = No Optimization, 1 = Optimization used 
            for vyper compiler, can be one of gas, codesize, none, 0 = No Optimization, 1 = Optimization (the last two are for backwards compatibility)
            applicable when codeformat is solidity-single-file or vyper-single-file
          default: 0
        runs:
          type: number
          required: true
          description: |-
            set to 200 as default unless otherwise  
            applicable when codeformat is solidity-single-file
          default: 200
        constructorArguements:
          type: string
          required: false
          description: "optional, include if your contract uses constructor arguments"
          nullable: true
          alias: constructorArguments
        evmversion:
          type: string
          required: false
          description: |-
            optional, leave blank for compiler default, 
            applicable when codeformat is solidity-single-file or vyper-single-file
          nullable: true
        license:
        licenseType:
          type: string
          required: true
          description: |-
            Valid codes 1-14 where
            1.  No License (None)
            2.  The Unlicense (Unlicense)
            3. 	MIT License (MIT)
            4. 	GNU General Public License v2.0 (GNU GPLv2)
            5. 	GNU General Public License v3.0 (GNU GPLv3)
            6. 	GNU Lesser General Public License v2.1 (GNU LGPLv2.1)
            7. 	GNU Lesser General Public License v3.0 (GNU LGPLv3)
            8. 	BSD 2-clause 'Simplified' license (BSD-2-Clause)
            9. 	BSD 3-clause 'New' Or 'Revised' license* (BSD-3-Clause)
            10. Mozilla Public License 2.0 (MPL-2.0)
            11. Open Software License 3.0 (OSL-3.0)
            12. Apache 2.0 (Apache-2.0)
            13. GNU Affero General Public License (GNU AGPLv3)
            14. Business Source License (BSL 1.1)
          default: 1
        libraryname1:
          type: string
          required: false
          description: "if applicable, a matching pair with libraryaddress1 required"
        libraryaddress1:
          type: string
          required: false
          description: "if applicable, a matching pair with libraryname1 required"
        libraryname2:
          type: string
          required: false
          description: "if applicable, matching pair required"
        libraryaddress2:
          type: string
          required: false
          description: "if applicable, matching pair required"
        libraryname3:
          type: string
          required: false
          description: "if applicable, matching pair required"
        libraryaddress3:
          type: string
          required: false
          description: "if applicable, matching pair required"
        libraryname4:
          type: string
          required: false
          description: "if applicable, matching pair required"
        libraryaddress4:
          type: string
          required: false
          description: "if applicable, matching pair required"
        libraryname5:
          type: string
          required: false
          description: "if applicable, matching pair required"
        libraryaddress5:
          type: string
          required: false
          description: "if applicable, matching pair required"
        libraryname6:
          type: string
          required: false
          description: "if applicable, matching pair required"
        libraryaddress6:
          type: string
          required: false
          description: "if applicable, matching pair required"
        libraryname7:
          type: string
          required: false
          description: "if applicable, matching pair required"
        libraryaddress7:
          type: string
          required: false
          description: "if applicable, matching pair required"
        libraryname8:
          type: string
          required: false
          description: "if applicable, matching pair required"
        libraryaddress8:
          type: string
          required: false
          description: "if applicable, matching pair required"
        libraryname9:
          type: string
          required: false
          description: "if applicable, matching pair required"
        libraryaddress9:
          type: string
          required: false
          description: "if applicable, matching pair required"
        libraryname10:
          type: string
          required: false
          description: "if applicable, matching pair required"
        libraryaddress10:
          type: string
          required: false
          description: "if applicable, matching pair required"
    DecodedMethod:
      allOf:
        - $ref: '#/components/schemas/ResponseBase'
        - type: object
          properties:
            result:
              type: object
              properties:
                hash:
                  description: Transaction hash.
                  type: string
                abi:
                  description: Method ABI.
                  type: string
                decodedData:
                  description: Decoded data of the transaction.
                  type: string
                error:
                  description: Error message when something wrong.
                  type: string
    DecodedMethodRaw:
      allOf:
        - $ref: '#/components/schemas/ResponseBase'
        - type: object
          properties:
            result:
              type: object
              properties:
                contract:
                  description: Contract address.
                  type: string
                input:
                  description: Input data of the transaction.
                  type: string
                abi:
                  description: Method ABI.
                  type: string
                decodedData:
                  description: Decoded data of the transaction.
                  type: string
                error:
                  description: Error message when something wrong.
                  type: string
    TpsStat:
      allOf:
        - $ref: '#/components/schemas/ResponseBase'
        - type: object
          properties:
            result:
              type: object
              properties:
                total:
                  type: integer
                list:
                  type: array
                  items:
                    type: object
                    properties:
                      tps:
                        type: string
                        description: ""
                      statTime:
                        type: string
                        description: "Statistics time, UTC."
    ContractDeployedStat:
      allOf:
        - $ref: '#/components/schemas/ResponseBase'
        - type: object
          properties:
            result:
              type: object
              properties:
                total:
                  type: integer
                list:
                  type: array
                  items:
                    type: object
                    properties:
                      count:
                        type: string
                        description: daily deployed contracts.
                      total:
                        type: string
                        description: total deployed contracts.
                      statTime:
                        type: string
                        description: "Statistics time, UTC."
    AccountGrowthStat:
      allOf:
        - $ref: '#/components/schemas/ResponseBase'
        - type: object
          properties:
            result:
              type: object
              properties:
                total:
                  type: integer
                list:
                  type: array
                  items:
                    type: object
                    properties:
                      count:
                        type: string
                        description: daily account growth count.
                      statTime:
                        type: string
                        description: "Statistics time, UTC."
    AccountActiveStat:
      allOf:
        - $ref: '#/components/schemas/ResponseBase'
        - type: object
          properties:
            result:
              type: object
              properties:
                total:
                  type: integer
                list:
                  type: array
                  items:
                    type: object
                    properties:
                      count:
                        type: string
                        description: daily active account count.
                      statTime:
                        type: string
                        description: "Statistics time, UTC."
    TransactionStat:
      allOf:
        - $ref: '#/components/schemas/ResponseBase'
        - type: object
          properties:
            result:
              type: object
              properties:
                total:
                  type: integer
                list:
                  type: array
                  items:
                    type: object
                    properties:
                      count:
                        type: string
                        description: daily transaction count.
                      statTime:
                        type: string
                        description: "Statistics time, UTC."
    TokenTransferStat:
      allOf:
        - $ref: '#/components/schemas/ResponseBase'
        - type: object
          properties:
            result:
              type: object
              properties:
                total:
                  type: integer
                list:
                  type: array
                  items:
                    type: object
                    properties:
                      transferCount:
                        type: string
                        description: daily token transfer count.
                      userCount:
                        type: string
                        description: daily user count.
                      statTime:
                        type: string
                        description: "Statistics time, UTC."
    GasUsedTopStat:
      allOf:
        - $ref: '#/components/schemas/ResponseBase'
        - type: object
          properties:
            result:
              type: object
              properties:
                totalGas:
                  type: string
                list:
                  type: array
                  items:
                    type: object
                    properties:
                      address:
                        type: string
                        description: account address.
                      gas:
                        type: string
                        description: gas used.
    MinerTopStat:
      allOf:
        - $ref: '#/components/schemas/ResponseBase'
        - type: object
          properties:
            result:
              type: object
              properties:
                minTime:
                  type: string
                maxTime:
                  type: string
                difficultyTotal:
                  type: string
                list:
                  type: array
                  items:
                    type: object
                    properties:
                      address:
                        type: string
                        description: account address.
                      blockCntr:
                        type: string
                        description: block count
                      rewardSum:
                        type: string
                        description: reward sum
                      txFeeSum:
                        type: string
                        description: tx fee sum
                      hashRate:
                        type: string
                        description: hash rate
    AddressTransactionTopStat:
      allOf:
        - $ref: '#/components/schemas/ResponseBase'
        - type: object
          properties:
            result:
              type: object
              properties:
                minTime:
                  type: string
                maxTime:
                  type: string
                valueTotal:
                  type: string
                list:
                  type: array
                  items:
                    type: object
                    properties:
                      address:
                        type: string
                        description: account address.
                      value:
                        type: string
                        description: address transaction count.
    TokenTransferTopStat:
      allOf:
        - $ref: '#/components/schemas/ResponseBase'
        - type: object
          properties:
            result:
              type: object
              properties:
                list:
                  type: array
                  items:
                    type: object
                    properties:
                      address:
                        type: string
                        description: token address.
                      value:
                        type: string
                        description: token transfer count.
    TokenSenderTopStat:
      allOf:
        - $ref: '#/components/schemas/ResponseBase'
        - type: object
          properties:
            result:
              type: object
              properties:
                list:
                  type: array
                  items:
                    type: object
                    properties:
                      address:
                        type: string
                        description: token address.
                      value:
                        type: string
                        description: token sender count.
    TokenReceiverTopStat:
      allOf:
        - $ref: '#/components/schemas/ResponseBase'
        - type: object
          properties:
            result:
              type: object
              properties:
                list:
                  type: array
                  items:
                    type: object
                    properties:
                      address:
                        type: string
                        description: token address.
                      value:
                        type: string
                        description: token receiver count.
    TokenParticipantTopStat:
      allOf:
        - $ref: '#/components/schemas/ResponseBase'
        - type: object
          properties:
            result:
              type: object
              properties:
                list:
                  type: array
                  items:
                    type: object
                    properties:
                      address:
                        type: string
                        description: token address.
                      value:
                        type: string
                        description: token participant count.
    TokenHolderStat:
      allOf:
        - $ref: '#/components/schemas/ResponseBase'
        - type: object
          properties:
            result:
              type: object
              properties:
                total:
                  type: integer
                list:
                  type: array
                  items:
                    type: object
                    properties:
                      statTime:
                        type: string
                        description: "Statistics time, UTC."
                      holderCount:
                        type: string
                        description: daily holder count of token.
    TokenTransferUniqueSenderStat:
      allOf:
        - $ref: '#/components/schemas/ResponseBase'
        - type: object
          properties:
            result:
              type: object
              properties:
                total:
                  type: integer
                list:
                  type: array
                  items:
                    type: object
                    properties:
                      statTime:
                        type: string
                        description: "Statistics time, UTC."
                      uniqueSender:
                        type: string
                        description: daily unique sender count of token transfer.
    TokenTransferUniqueReceiverStat:
      allOf:
        - $ref: '#/components/schemas/ResponseBase'
        - type: object
          properties:
            result:
              type: object
              properties:
                total:
                  type: integer
                list:
                  type: array
                  items:
                    type: object
                    properties:
                      statTime:
                        type: string
                        description: "Statistics time, UTC."
                      uniqueReceiver:
                        type: string
                        description: daily unique receiver count of token transfer.
    TokenTransferUniqueParticipantStat:
      allOf:
        - $ref: '#/components/schemas/ResponseBase'
        - type: object
          properties:
            result:
              type: object
              properties:
                total:
                  type: integer
                list:
                  type: array
                  items:
                    type: object
                    properties:
                      statTime:
                        type: string
                        description: "Statistics time, UTC."
                      uniqueParticipant:
                        type: string
                        description: daily unique participant count of token transfer.
    BaseFeeStat:
      allOf:
        - $ref: '#/components/schemas/ResponseBase'
        - type: object
          properties:
            result:
              type: object
              properties:
                total:
                  type: integer
                list:
                  type: array
                  items:
                    type: object
                    properties:
                      baseFee:
                        type: string
                        description: Base fee per gas.
                      blockNumber:
                        type: number
                        description: Block Number.
                      timestamp:
                        type: number
                        description: "Block timestamp, UTC."
    AvgPriorityFeeStat:
      allOf:
        - $ref: '#/components/schemas/ResponseBase'
        - type: object
          properties:
            result:
              type: object
              properties:
                total:
                  type: integer
                list:
                  type: array
                  items:
                    type: object
                    properties:
                      avgPriorityFee:
                        type: string
                        description: Average priority fee per gas.
                      blockNumber:
                        type: number
                        description: Block Number.
                      timestamp:
                        type: number
                        description: "Block timestamp, UTC."
    GasUsedStat:
      allOf:
        - $ref: '#/components/schemas/ResponseBase'
        - type: object
          properties:
            result:
              type: object
              properties:
                total:
                  type: integer
                list:
                  type: array
                  items:
                    type: object
                    properties:
                      gasUsed:
                        type: string
                        description: Gas used.
                      blockNumber:
                        type: number
                        description: Block Number.
                      timestamp:
                        type: number
                        description: "Block timestamp, UTC."
    StringArray:
      allOf:
        - $ref: '#/components/schemas/ResponseBase'
        - type: object
          properties:
            result:
              type: array
              items:
                type: object
                properties:
                  id:
                    type: number
                  address:
                    type: string
    TxsByTypeStat:
      allOf:
        - $ref: '#/components/schemas/ResponseBase'
        - type: object
          properties:
            result:
              type: object
              properties:
                total:
                  type: integer
                list:
                  type: array
                  items:
                    type: object
                    properties:
                      txsByType:
                        type: object
                        description: Transactions by type.
                        properties:
                          legacy:
                            type: number
                            description: Number of transactions of type legacy.
                          cip2930:
                            type: number
                            description: Number of transactions of type CIP2930.
                          cip1559:
                            type: number
                            description: Number of transactions of type CIP1559.
                      blockNumber:
                        type: number
                        description: Block Number.
                      timestamp:
                        type: number
                        description: "Block timestamp, UTC."
  parameters:
    addressMust:
      name: address
      in: query
      description: the string representing the address to check for balance
      required: true
      schema:
        type: string
    address:
      name: address
      in: query
      description: the string representing the address to check for balance
      required: false
      schema:
        type: string
    expectedimplementation:
      name: expectedimplementation
      in: query
      description: "proxy's implementation contract address"
      required: false
      schema:
        type: string
    txhashMust:
      name: txhash
      in: query
      description: the string representing the transaction hash to check for internal transactions
      required: true
      schema:
        type: string
    txhash:
      name: txhash
      in: query
      description: the string representing the transaction hash to check for internal transactions
      required: false
      schema:
        type: string
    contractaddressMust:
      name: contractaddress
      in: query
      description: the string representing the token contract address to check for balance
      required: true
      schema:
        type: string
    contractaddress:
      name: contractaddress
      in: query
      description: the string representing the token contract address to check for balance
      required: false
      schema:
        type: string
    guidMust:
      name: guid
      in: query
      description: "Upon successful submission, a GUID is returned, which can be used to check for submission status."
      required: true
      schema:
        type: string
    tag:
      name: tag
      in: query
      description: "the string pre-defined block parameter, either latest_mined, latest_state, latest_finalized, latest_confirmed, latest_checkpoint or earliest"
      required: false
      schema:
        type: string
        enum:
          - latest_mined
          - latest_state
          - latest_finalized
          - latest_confirmed
          - latest_checkpoint
          - earliest
        default: latest_state
    blocktype:
      name: blocktype
      in: query
      description: "the string pre-defined block type, only support 'blocks' type"
      required: false
      schema:
        type: string
        default: blocks
    page:
      name: page
      in: query
      description: "the integer page number, if pagination is enabled"
      required: false
      schema:
        type: integer
        default: 1
        maximum: 10000
    offset:
      name: offset
      in: query
      description: the number of transactions displayed per page
      required: false
      schema:
        type: integer
        maximum: 100
        default: 100
    blocknoMust:
      name: blockno
      in: query
      description: the integer block number to check balance for eg. 12697906
      required: true
      schema:
        type: integer
    blockno:
      name: blockno
      in: query
      description: the integer block number to check balance for eg. 12697906
      required: false
      schema:
        type: integer
    timestampMust:
      description: the integer representing the Unix timestamp in seconds
      name: timestamp
      in: query
      required: true
      schema:
        type: integer
    closest:
      description: "the closest available block to the provided timestamp, either before or after"
      name: closest
      in: query
      required: false
      schema:
        type: string
        enum:
          - before
          - after
        default: before
    startblock:
      name: startblock
      in: query
      description: the integer block number to start searching for transactions
      required: false
      schema:
        type: integer
    endblock:
      name: endblock
      in: query
      description: the integer block number to stop searching for transactions
      required: false
      schema:
        type: integer
    sortParam:
      description: "the sorting preference, use asc to sort by ascending and desc to sort by descending"
      name: sort
      in: query
      required: false
      schema:
        type: string
        enum:
          - asc
          - desc
        default: desc
    skipParam:
      name: skip
      in: query
      description: "The number of skipped records, usually it's pageSize * (pageNumber - 1). Maximum 10000."
      required: false
      schema:
        type: integer
        default: 0
        maximum: 10000
    skipParamWithoutMaximum:
      name: skip
      in: query
      description: "The number of skipped records, usually it's pageSize * (pageNumber - 1)."
      required: false
      schema:
        type: integer
        default: 0
        maximum: 10000
    cursorParamWithoutMaximum:
      name: cursor
      in: query
      description: A cursor to retrieve the next page
      required: false
      schema:
        type: string
        default: "0"
    limitParam:
      name: limit
      in: query
      description: The number of records displayed on the page. Maximum 100.
      required: false
      schema:
        type: integer
        maximum: 100
        default: 10
    limitParamStat:
      name: limit
      in: query
      description: The number of records displayed on the page. Maximum 2000.
      required: false
      schema:
        type: integer
        maximum: 2000
        default: 10
    contractParam:
      name: contract
      in: query
      description: "Contract address, it's like 0x672158893ce87d812befd2209bc1b7818fe48b2a"
      required: false
      schema:
        type: string
    contractParamMust:
      name: contract
      in: query
      description: "Contract address, it's like 0x672158893ce87d812befd2209bc1b7818fe48b2a"
      required: true
      schema:
        type: string
    contractAddressesParam:
      description: "Contract addresses, separated by comma,
        eg. it's like 0x672158893ce87d812befd2209bc1b7818fe48b2a,0xfd2209bc1b7818fe48b2a672158893ce87d812be"
      name: contractaddresses
      in: query
      required: true
      schema:
        type: string
    fromParam:
      name: from
      in: query
      description: "Account address, it's like 0x672158893ce87d812befd2209bc1b7818fe48b2a"
      required: false
      schema:
        type: string
    toParam:
      name: to
      in: query
      description: "Account address, it's like 0x672158893ce87d812befd2209bc1b7818fe48b2a"
      required: false
      schema:
        type: string
    idCursor:
      description: "Data id, used as a cursor. For the first request, it could be absent, otherwise set it as the value from previous response."
      name: id
      in: query
      required: false
      schema:
        type: integer
    minTimestampParam:
      description: Timestamp in seconds.
      name: minTimestamp
      in: query
      required: false
      schema:
        type: integer
    maxTimestampParam:
      description: Timestamp in seconds.
      name: maxTimestamp
      in: query
      required: false
      schema:
        type: integer
    tokenIdParam:
      description: "Token id. It's uint256 in solidity. Using string here."
      name: tokenId
      in: query
      required: false
      schema:
        type: string
    tokenIdParamMust:
      description: "Token id. It's uint256 in solidity. Using string here."
      name: tokenId
      in: query
      required: true
      schema:
        type: string
    sortFieldParam:
      description: The field used for sorting. The value is latest_update_time or mint_time
      name: sortField
      in: query
      required: false
      schema:
        type: string
        enum:
          - latest_update_time
          - mint_time
        default: latest_update_time
    ownerParam:
      name: owner
      in: query
      description: "Owner address, it's like 0x672158893ce87d812befd2209bc1b7818fe48b2a"
      required: false
      schema:
        type: string
    ownerParamMust:
      name: owner
      in: query
      description: "Owner address, it's like 0x672158893ce87d812befd2209bc1b7818fe48b2a"
      required: true
      schema:
        type: string
    withBriefParam:
      description: "If show brief which contains name，image and description, the value is true/false."
      name: withBrief
      in: query
      required: false
      schema:
        type: boolean
        enum:
          - true
          - false
        default: false
    withMetadataParam:
      description: "If show metadata, the value is true/false."
      name: withMetadata
      in: query
      required: false
      schema:
        type: boolean
        enum:
          - true
          - false
        default: false
    suppressMetadataErrorParam:
      description: "If suppress error when withBrief and/or withMetadata is set to true to parse metadata, the value is true/false."
      name: suppressMetadataError
      in: query
      required: false
      schema:
        type: boolean
        enum:
          - true
          - false
        default: false
    startBlockParam:
      name: startBlock
      in: query
      required: false
      schema:
        type: integer
    endBlockParam:
      name: endBlock
      in: query
      required: false
      schema:
        type: integer
    spanParam:
      description: "Calculates the ranking in the specified time span 24h, 3d or 7d. If not provided, default value is 24h"
      name: spanType
      in: query
      required: false
      schema:
        type: string
        enum:
          - 24h
          - 3d
          - 7d
        default: 24h
    hashesParam:
      description: "Hash array of transactions to decode data, separated by comma,
        eg. 0x8378892767d0afce19b278015702531a61512e8444ee7f51c41c90e56fec462d,0xa09c63d8dc9867851b254b31a723e653c9608a94a4a61bc97bf8a5f4aeffb4f4"
      name: hashes
      in: query
      required: true
      schema:
        type: string
    contractsParam:
      description: "To address array of transactions to decode data, separated by comma,
        eg. 0xc18944582317654327f20ce92df111cae83995dd,0x30b987679c1dcf3a8c890395eadf178078a99b82"
      name: contracts
      in: query
      required: true
      schema:
        type: string
    inputsParam:
      description: "To input data array of transactions to decode data, separated by comma,
        eg. 0xaea1414f,0x6e756fb200000000000000000000000015a0a156ce9feb9f01881b3b4a9788c49e65c6fa00000000000000000000000000000000000000000000"
      name: inputs
      in: query
      required: true
      schema:
        type: string
    nameParamMust:
      description: The name attribute contained in nft metadata
      name: name
      in: query
      required: true
      schema:
        type: string
  securitySchemes:
    ApiKeyQuery:
      type: apiKey
      in: query
      name: apiKey
      description: API key in query string
    ApiKeyHeader:
      type: apiKey
      in: header
      name: apiKey
      description: API key in header
