openapi: 3.0.0
info:
  title: Conflux Scan Open Api
  description: "Conflux Scan Open Api. <br/>
  <a target='_BLANK' href='https://api.confluxscan.io'>Mainnet Production</a> |
  <a target='_BLANK' href='https://api-testnet.confluxscan.io'>Testnet Production</a> <br/>
  <a target='_BLANK' href='https://scanapi-scantest.confluxnetwork.org'>Testnet Development</a> |
  <a target='_BLANK' href='https://scanapi-testnet.confluxnetwork.org'>Mainnet Development</a> <br/>
  <a target='_BLANK' href='http://localhost:8087/open'>Local</a>
  "
  version: 1.0.0
servers:
  - url: 'https://api.confluxscan.io'
    description: 'mainnet, production'
  - url: 'https://api-testnet.confluxscan.io'
    description: 'testnet, production'
  - url: 'https://scanapi-scantest.confluxnetwork.org'
    description: 'mainnet, development'
  - url: 'https://scanapi-testnet.confluxnetwork.org'
    description: 'testnet, development'
  - url: 'http://localhost:8087/open'
paths:
  '/':
    get:
      responses:
        200:
          description: 'Welcome of Conflux scan open api.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Welcome'
  /transaction/account:
    get:
      description: "Get transactions associated with an account. A transaction with 'from' or 'to' equals to specified account
      is considered as 'associate'. Parameters 'from' and 'to' are [or] logic."
      parameters:
        - $ref: '#/components/parameters/account'
        - $ref: '#/components/parameters/skipParam'
        - $ref: '#/components/parameters/limitParam'
#        - $ref: '#/components/parameters/from'
#        - $ref: '#/components/parameters/to'
      responses:
        200:
          description: ''
          content:
            "application/json":
              schema:
                $ref: "#/components/schemas/TransactionList"
  '/transfer20/account':
    description: 'Get erc20 transfer records of an account'
    get:
      parameters:
        - $ref: '#/components/parameters/account'
        - $ref: '#/components/parameters/skipParam'
        - $ref: '#/components/parameters/limitParam'
        - $ref: '#/components/parameters/contractParam'
      responses:
        200:
          description: ''
          content:
            "application/json":
              schema:
                $ref: "#/components/schemas/Transfer20List"
  '/transfer721/account':
    description: 'Get erc721 transfer records of an account'
    get:
      parameters:
        - $ref: '#/components/parameters/account'
        - $ref: '#/components/parameters/skipParam'
        - $ref: '#/components/parameters/limitParam'
        - $ref: '#/components/parameters/contractParam'
      responses:
        200:
          description: ''
          content:
            "application/json":
              schema:
                $ref: "#/components/schemas/Transfer721List"
  '/transfer1155/account':
    description: 'Get erc1155 transfer records of an account'
    get:
      parameters:
        - $ref: '#/components/parameters/account'
        - $ref: '#/components/parameters/skipParam'
        - $ref: '#/components/parameters/limitParam'
        - $ref: '#/components/parameters/contractParam'
      responses:
        200:
          description: ''
          content:
            "application/json":
              schema:
                $ref: "#/components/schemas/Transfer1155List"
  '/account/assert':
    description: 'Get asserts hold by an account. Some tokens will not show up for some reasons'
    get:
      parameters:
        - $ref: '#/components/parameters/account'
      responses:
        200:
          description: ''
          content:
            "application/json":
              schema:
                $ref: "#/components/schemas/AssertsOfAccount"
components:
  schemas:
    Welcome:
      type: object
      properties:
        code:
          type: integer
        message:
          type: string
    AssertsOfAccount:
      type: object
      properties:
        code:
          type: integer
        message:
          type: string
        data:
          type: object
          properties:
            list:
                type: array
                items:
                  properties:
                    name:
                      description: 'Name of the token'
                      type: string
                    symbol:
                      description: 'symbol of the token'
                      type: string
                    decimals:
                      description: 'Decimals of the token, if has'
                      type: integer
                    base32:
                      description: 'Address of the token'
                      type: integer
                      example: 'cfx:acg158kvr8zanb1bs048ryb6rtrhr283ma70vz70tx'
                    icon:
                      description: 'Icon url.'
                      type: string
                      example: 'http://confluxscan.io/stat/cfx:acg158kvr8zanb1bs048ryb6rtrhr283ma70vz70tx..svg'
                    balance:
                      description: 'Balance of the account of one token, not divided by decimals of the token.'
                      type: 'string'
    Transfer20List:
      type: object
      properties:
        code:
          type: integer
        message:
          type: string
        data:
          type: object
          properties:
            total:
              type: integer
            list:
              type: array
              items:
                properties:
                  epochNumber:
                    type: integer
                  transactionHash:
                    type: string
                  "from":
                    example: 'cfx:aajj1b1gm7k51mhzm80czcx31kwxrm2f6jxvy30mvk'
                    type: string
                  "to":
                    type: string
                  "value":
                    type: string
                  timestamp:
                    type: integer
                  transactionLogIndex:
                    type: integer
                  transferType:
                    type: string
                    example: 'ERC20'
    Transfer721List:
      type: object
      properties:
        code:
          type: integer
        message:
          type: string
        data:
          type: object
          properties:
            total:
              type: integer
            list:
              type: array
              items:
                properties:
                  epochNumber:
                    type: integer
                  transactionHash:
                    type: string
                  "from":
                    type: string
                  "to":
                    type: string
                  "tokenId":
                    type: string
                  timestamp:
                    type: integer
                  transactionLogIndex:
                    type: integer
                  transferType:
                    type: string
                    example: 'ERC721'
    Transfer1155List:
      type: object
      properties:
        code:
          type: integer
        message:
          type: string
        data:
          type: object
          properties:
            total:
              type: integer
            list:
              type: array
              items:
                properties:
                  epochNumber:
                    type: integer
                  transactionHash:
                    type: string
                  "from":
                    type: string
                  "to":
                    type: string
                  "value":
                    type: string
                  "tokenId":
                    type: string
                  timestamp:
                    type: integer
                  transactionLogIndex:
                    type: integer
                  transferType:
                    type: string
                    example: 'ERC1155'
    TransactionList:
      type: object
      properties:
        code:
          type: integer
        message:
          type: string
        data:
          type: object
          properties:
            total:
              type: integer
            list:
              type: array
              items:
                properties:
                  epochNumber:
                    type: integer
                  "blockHash":
                    type: string
                  "blockPosition":
                    type: integer
                  "transactionIndex":
                    type: integer
                  "nonce":
                    type: integer
                  "hash":
                    description: 'transaction hash'
                    type: string
                  "from":
                    type: string
                  "to":
                    type: string
                  "value":
                    type: string
                  "gasPrice":
                    type: string
                  "gasFee":
                    type: string
                  "timestamp":
                    type: number
                  "status":
                    type: integer
                  "contractCreated":
                    type: string
                  "method":
                    type: string
  parameters:
    account:
      name: account
      in: query
      description: "account/address, on testnet, it's like cfxtest:aatmcd6m3e4gjczt9v9d1gca1d77trk3vjr04w5yha,
      on mainnet it's like cfx:aanjcf1esdz50j6zhkm0k60wc7669tfkw28mzudg24"
      required: true
      schema:
        type: string
        example: ''
    from:
      name: from
      in: query
      description: "account/address, on testnet, it's like cfxtest:aatmcd6m3e4gjczt9v9d1gca1d77trk3vjr04w5yha,
      on mainnet it's like cfx:aanjcf1esdz50j6zhkm0k60wc7669tfkw28mzudg24"
      required: false
      schema:
        type: string
        example: ''
    to:
      name: to
      in: query
      description: "account/address, on testnet, it's like cfxtest:aatmcd6m3e4gjczt9v9d1gca1d77trk3vjr04w5yha,
      on mainnet it's like cfx:aanjcf1esdz50j6zhkm0k60wc7669tfkw28mzudg24"
      required: false
      schema:
        type: string
        example: ''
    skipParam:
      name: skip
      in: query
      description: "Skip how many records, usually it's pageSize * (pageNumber - 1)"
      required: false
      schema:
        type: integer
        default: 0
        maximum: 10000
    limitParam:
      name: limit
      in: query
      description: "How many records in one page"
      required: false
      schema:
        type: integer
        maximum: 100
        default: 10
    contractParam:
      name: contract
      in: query
      description: "contract/address, on testnet, it's like cfxtest:acepe88unk7fvs18436178up33hb4zkuf62a9dk1gv,
      on mainnet it's like cfx:acf2rcsh8payyxpg6xj7b0ztswwh81ute60tsw35j7"
      required: true
      schema:
        type: string
        example: ''
externalDocs:
  description: 'Goto conflux scan'
  url: 'https://confluxscan.io'

#https://swagger.io/docs/specification/components/:
