openapi: 3.0.3
info:
  title: Conflux Scan Open Api
  description: |-
    Use any http client to fetch data from the ConfluxScan mainnet or testnet.

    ### Endpoints:

    | API Host | Net | Mode | Scan |
    |---|---|---|---|
    | [https://api.confluxscan.org](https://api.confluxscan.org/doc) | Mainnet Core | Production | [https://confluxscan.org](https://confluxscan.org) |
    | [https://evmapi.confluxscan.org](https://evmapi.confluxscan.org/doc) | Mainnet eSpace | Production | [https://evm.confluxscan.org](https://evm.confluxscan.org) |
    | [https://api-testnet.confluxscan.org](https://api-testnet.confluxscan.org/doc) | Testnet Core | Production | [https://testnet.confluxscan.org](https://testnet.confluxscan.org) |
    | [https://evmapi-testnet.confluxscan.org](https://evmapi-testnet.confluxscan.org/doc) | Testnet eSpace | Production | [https://evmtestnet.confluxscan.org](https://evmtestnet.confluxscan.org) |

    ### Notes:

    - Timestamp is in seconds format.
    - Maximum `skip` is 10,000 when paging.
    - Maximum `limit` is 100 when paging.
    - The block list, transaction list, CFX transfer list and token transfer list querying by account dimension can only view the latest 20,000 records due to data pruning.

    ### Rate Limit:

    Reference for various API tiers and their rate limits.

    | API Tier | Price | Rate Limit |
    |---|---|---|
    | Free | $0 | 5 calls/second, up to 100,000 calls/day |
    | Standard | $150/mo | 20 calls/second, up to 500,000 calls/day |
    | Enterprise | For details, please email bd@confluxnetwork.org | Customize according to demand |

    ### SDK:

    | Space | Link |
    |---|---|
    | Core | [openapi-sdk-core](https://www.npmjs.com/package/@conflux-lib/openapi-sdk-core) |
    | EVM | [openapi-sdk-evm](https://www.npmjs.com/package/@conflux-lib/openapi-sdk-evm) |

    [Draft] Strict-compatible refactor: keep all original URLs unchanged; enhance metadata/security/error responses.
  version: 0.0.3
servers:
  - url: "https://api.confluxscan.org"
    description: Mainnet Core
  - url: "https://api.confluxscan.net"
    description: Mainnet Core  
  - url: "https://api-testnet.confluxscan.org"
    description: Testnet Core
  - url: "https://api-testnet.confluxscan.net"
    description: Testnet Core  
security:
  - ApiKeyQuery: []    
  - ApiKeyHeader: []
tags:
  - name: "Server Info"
    description: "Service and version information."
  - name: "Accounts"
    description: "Account-related endpoints for transactions, transfers, assets, approvals, and account information."
  - name: "Contracts"
    description: "Contract endpoints for ABI, source code, deployment, verification, and signature lookup."
  - name: "Tokens"
    description: "Token information and refresh endpoints."
  - name: "NFT Assets"
    description: "NFT endpoints for balances, tokens, owners, and transfers."
  - name: "Utils"
    description: "Utility endpoints such as transaction input decoding."
  - name: "Stats"
    description: "On-chain statistics and ranking data."
  - name: "data"
    description: "Low-level data listing and cursor-based retrieval endpoints."
paths:
  /version:
    get:
      tags:
        - 'Server Info'
      summary: "Get service version information"
      operationId: getVersion
      description: "Get server version."
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Version"
  /account/transactions:
    get:
      tags:
        - 'Accounts'
      summary: "List transactions associated with an account, filterable by direction, block range, timestamps, pagination, and sort order."
      operationId: listTransactionsByAccount
      description: "Get transactions associated with an account. A transaction with 'from' or 'to' equals to specified account
        is considered as 'associate'. Parameters 'from' and 'to' are [or] logic."
      parameters:
        - $ref: "#/components/parameters/account"
        - $ref: "#/components/parameters/skipParam"
        - $ref: "#/components/parameters/limitParam"
        - $ref: "#/components/parameters/from"
        - $ref: "#/components/parameters/to"
        - $ref: "#/components/parameters/minEpochNumberParam"
        - $ref: "#/components/parameters/maxEpochNumberParam"
        - $ref: "#/components/parameters/minTimestampParam"
        - $ref: "#/components/parameters/maxTimestampParam"
        - $ref: "#/components/parameters/sortParam"
        - $ref: "#/components/parameters/withInputParam"
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TransactionList"
  /account/cfx/transfers:
    get:
      tags:
        - 'Accounts'
      summary: "List native CFX transfer records for an account, filterable by direction, block range, timestamps, pagination, and sort order."
      operationId: listNativeTransfersByAccount
      description: "Get cfx transfer records of an account."
      parameters:
        - $ref: "#/components/parameters/account"
        - $ref: "#/components/parameters/skipParam"
        - $ref: "#/components/parameters/limitParam"
        - $ref: "#/components/parameters/from"
        - $ref: "#/components/parameters/to"
        - $ref: "#/components/parameters/minEpochNumberParam"
        - $ref: "#/components/parameters/maxEpochNumberParam"
        - $ref: "#/components/parameters/minTimestampParam"
        - $ref: "#/components/parameters/maxTimestampParam"
        - $ref: "#/components/parameters/sortParam"
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TransferCfxList"
  /account/crc20/transfers:
    get:
      tags:
        - 'Accounts'
      summary: "List CRC20 transfer records for an account, optionally filtered by token contract, direction, block range, timestamps, pagination, and sort order."
      operationId: listCrc20TransfersByAccount
      description: "Get crc20 transfer records of an account."
      parameters:
        - $ref: "#/components/parameters/account"
        - $ref: "#/components/parameters/skipParam"
        - $ref: "#/components/parameters/limitParam"
        - $ref: "#/components/parameters/contractParam"
        - $ref: "#/components/parameters/from"
        - $ref: "#/components/parameters/to"
        - $ref: "#/components/parameters/minEpochNumberParam"
        - $ref: "#/components/parameters/maxEpochNumberParam"
        - $ref: "#/components/parameters/minTimestampParam"
        - $ref: "#/components/parameters/maxTimestampParam"
        - $ref: "#/components/parameters/sortParam"
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Transfer20List"
  /account/crc721/transfers:
    get:
      tags:
        - 'Accounts'
      summary: "List CRC721 transfer records for an account, optionally filtered by contract, token ID, direction, block range, timestamps, pagination, and sort order."
      operationId: listCrc721TransfersByAccount
      description: "Get crc721 transfer records of an account"
      parameters:
        - $ref: "#/components/parameters/account"
        - $ref: "#/components/parameters/skipParam"
        - $ref: "#/components/parameters/limitParam"
        - $ref: "#/components/parameters/contractParam"
        - $ref: "#/components/parameters/from"
        - $ref: "#/components/parameters/to"
        - $ref: "#/components/parameters/minEpochNumberParam"
        - $ref: "#/components/parameters/maxEpochNumberParam"
        - $ref: "#/components/parameters/minTimestampParam"
        - $ref: "#/components/parameters/maxTimestampParam"
        - $ref: "#/components/parameters/tokenIdParam"
        - $ref: "#/components/parameters/sortParam"
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Transfer721List"
  /account/crc1155/transfers:
    get:
      tags:
        - 'Accounts'
      summary: "List CRC1155 transfer records for an account, optionally filtered by contract, token ID, direction, block range, timestamps, pagination, and sort order."
      operationId: listCrc1155TransfersByAccount
      description: "Get crc1155 transfer records of an account"
      parameters:
        - $ref: "#/components/parameters/account"
        - $ref: "#/components/parameters/skipParam"
        - $ref: "#/components/parameters/limitParam"
        - $ref: "#/components/parameters/contractParam"
        - $ref: "#/components/parameters/from"
        - $ref: "#/components/parameters/to"
        - $ref: "#/components/parameters/minEpochNumberParam"
        - $ref: "#/components/parameters/maxEpochNumberParam"
        - $ref: "#/components/parameters/minTimestampParam"
        - $ref: "#/components/parameters/maxTimestampParam"
        - $ref: "#/components/parameters/tokenIdParam"
        - $ref: "#/components/parameters/sortParam"
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Transfer1155List"
  /account/crc3525/transfers:
    get:
      tags:
        - 'Accounts'
      summary: "List CRC3525 transfer records for an account, optionally filtered by contract, token ID, direction, block range, timestamps, pagination, and sort order."
      operationId: listCrc3525TransfersByAccount
      description: "Get crc3525 transfer records of an account"
      parameters:
        - $ref: "#/components/parameters/account"
        - $ref: "#/components/parameters/skipParam"
        - $ref: "#/components/parameters/limitParam"
        - $ref: "#/components/parameters/contractParam"
        - $ref: "#/components/parameters/from"
        - $ref: "#/components/parameters/to"
        - $ref: "#/components/parameters/minEpochNumberParam"
        - $ref: "#/components/parameters/maxEpochNumberParam"
        - $ref: "#/components/parameters/minTimestampParam"
        - $ref: "#/components/parameters/maxTimestampParam"
        - $ref: "#/components/parameters/tokenIdParam"
        - $ref: "#/components/parameters/sortParam"
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Transfer3525List"
  /account/transfers:
    get:
      tags:
        - 'Accounts'
      summary: "List all transfer records related to an account across native and token transfers, with cursor or skip pagination, filtering, and sort options."
      operationId: listAllTransfersByAccountWithCursor
      description: "Get all transfer records (includes: cfx transfer, crc20/crc721/crc1155 transfer) of an account"
      parameters:
        - $ref: "#/components/parameters/account"
        - $ref: "#/components/parameters/cursorParamWithoutMaximum"
        - $ref: "#/components/parameters/skipParam"
        - $ref: "#/components/parameters/limitParam"
        - $ref: "#/components/parameters/contractParam"
        - $ref: "#/components/parameters/from"
        - $ref: "#/components/parameters/to"
        - $ref: "#/components/parameters/minEpochNumberParam"
        - $ref: "#/components/parameters/maxEpochNumberParam"
        - $ref: "#/components/parameters/minTimestampParam"
        - $ref: "#/components/parameters/maxTimestampParam"
        - $ref: "#/components/parameters/tokenIdParam"
        - $ref: "#/components/parameters/sortParam"
        - $ref: "#/components/parameters/transferTypeParam"
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TransferListWithCursor"
  /account/approvals:
    get:
      tags:
        - 'Accounts'
      summary: "List token approvals for an account, filterable by token type and optional per-token-id NFT expansion."
      operationId: listTokenApprovalsByAccount
      description: "Get token approvals of an account"
      parameters:
        - $ref: "#/components/parameters/account"
        - name: tokenType
          in: query
          required: false
          schema:
            type: string
            default: ""
            enum:
              - ERC20
              - ERC721
              - ERC1155
        - name: byTokenId
          in: query
          description: Whether to query each NFT token id, only valid for ERC721.
          required: false
          schema:
            type: boolean
            default: false
            enum:
              - true
              - false
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Approvals"
  /account/tokens:
    get:
      tags:
        - 'Accounts'
      summary: "List assets held by an account, filterable by token type and paginated by skip and limit."
      operationId: listAssetsHeldByAccount
      description: "Get assets held by an account. Some tokens may not show up for some reasons."
      parameters:
        - $ref: "#/components/parameters/account"
        - $ref: "#/components/parameters/skipParamWithoutMaximum"
        - $ref: "#/components/parameters/limitParamWithMax100"
        - $ref: "#/components/parameters/tokenTypeParam"
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AssetsOfAccount"
  /account/infos:
    get:
      tags:
        - 'Accounts'
      summary: "Get enriched info for up to 100 accounts, including contract, name tag, eSpace, ENS, and proxy implementation details."
      operationId: getBatchAccountInfos
      description: "Get the accounts' name information. Supports up to 100 account at a time."
      parameters:
        - $ref: "#/components/parameters/accountArrayParam"
        - $ref: "#/components/parameters/withContractInfo"
        - $ref: "#/components/parameters/withNameTagInfo"
        - $ref: "#/components/parameters/withByte32NameTagInfo"
        - $ref: "#/components/parameters/withESpaceInfo"
        - $ref: "#/components/parameters/withENSInfo"
        - $ref: "#/components/parameters/withProxyImplInfo"
        - $ref: "#/components/parameters/realtimeProxyImpl"
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountInfos"
  /contract/getabi:
    get:
      tags:
        - 'Contracts'
      summary: "Get verified contract ABI by contract address."
      operationId: getVerifiedContractAbiByAddress
      description: "Get Contract ABI for Verified Contract Source Codes"
      parameters:
        - $ref: "#/components/parameters/addressMust"
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CommonResponse"
  /contract/getsourcecode:
    get:
      tags:
        - 'Contracts'
      summary: "Get verified contract source code and verification metadata by contract address."
      operationId: getVerifiedContractSourceCodeByAddress
      description: "Get Contract Source Code for Verified Contract Source Codes"
      parameters:
        - $ref: "#/components/parameters/addressMust"
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ContractInfo"
  /contract/getContractCreation:
    get:
      tags:
        - 'Contracts'
      summary: "Get deployer address and creation transaction hash for up to 5 contract addresses."
      operationId: getContractCreationInfoByContractAddresses
      description: "Returns a contract's deployer address and transaction hash it was created, up to 5 at a time."
      parameters:
        - $ref: "#/components/parameters/contractAddressesParam"
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ContractCreationInfo"
  /contract/verifysourcecode:
    post:
      tags:
        - 'Contracts'
      summary: "Submit verified contract source code for verification using form parameters and receive a tracking GUID or status message."
      operationId: submitContractSourceCodeVerification
      description: "Verify Source Code - Source Code Submission Gist"
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/VerifySourcecode"
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CommonResponse"
  /contract/checkverifystatus:
    get:
      tags:
        - 'Contracts'
      summary: "Check source code verification submission status by GUID."
      operationId: checkContractSourceVerificationStatusByGuid
      description: "Verify Source Code - Check Source Code Verification Submission Status"
      parameters:
        - $ref: "#/components/parameters/guidMust"
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ContractInfo"
  /contract/verifyproxycontract:
    get:
      tags:
        - 'Contracts'
      summary: "Submit proxy contract verification for an address and optional expected implementation."
      operationId: submitProxyContractVerification
      description: "Verifying Proxy Contract using cURL"
      parameters:
        - $ref: "#/components/parameters/addressMust"
        - $ref: "#/components/parameters/expectedimplementation"
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CommonResponse"
  /contract/checkproxyverification:
    get:
      tags:
        - 'Contracts'
      summary: "Check proxy contract verification submission status by GUID."
      operationId: checkProxyContractVerificationStatusByGuid
      description: "Checking Proxy Contract Verification Submission Status using cURL"
      parameters:
        - $ref: "#/components/parameters/guidMust"
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CommonResponse"
  /contract/verified:
    get:
      tags:
        - Contracts
      summary: "List verified contracts using cursor pagination with optional time filters and sort order."
      operationId: listVerifiedContractsWithCursor
      description: |-
        Returns a cursor-paginated list of verified contracts.
        Rules:
        1. Arbitrary page navigation is not supported.
        2. Clients must use the `next` value returned by the server.
      parameters:
        - $ref: "#/components/parameters/cursorParamWithoutMaximum"
        - $ref: "#/components/parameters/minTimestampParam"
        - $ref: "#/components/parameters/maxTimestampParam"
        - $ref: "#/components/parameters/limitParam"
        - $ref: "#/components/parameters/sortParam"
      responses:
        200:
          description: Cursor-paginated verified contracts list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VerificationListByCursor"
  /contract/verified/latest:
    get:
      tags:
        - Contracts
      summary: "List latest verified contracts using filter-based pagination across compiler, license, address, deployer, block, time, and sort filters."
      operationId: listLatestVerifiedContractsByFilters
      description: Returns a filter-paginated list of verified contracts.
      parameters:
        - in: query
          name: compiler
          description: "Contract compiler (solc or vyper) "
          required: false
          schema:
            type: string
        - in: query
          name: contractName
          description: "The contract name"
          required: false
          schema:
            type: string
        - in: query
          name: compilerVersion
          description: |-
            Compiler version used
            for solc compiler, such as v0.8.24+commit.e11b9ed9
            for vyper compiler, such as vyper:0.4.0
          required: false
          schema:
            type: string
        - in: query
          name: licenseType
          description: |-
            Valid codes 1-14 where
            1.  No License (None)
            2.  The Unlicense (Unlicense)
            3. 	MIT License (MIT)
            4. 	GNU General Public License v2.0 (GNU GPLv2)
            5. 	GNU General Public License v3.0 (GNU GPLv3)
            6. 	GNU Lesser General Public License v2.1 (GNU LGPLv2.1)
            7. 	GNU Lesser General Public License v3.0 (GNU LGPLv3)
            8. 	BSD 2-clause 'Simplified' license (BSD-2-Clause)
            9. 	BSD 3-clause 'New' Or 'Revised' license* (BSD-3-Clause)
            10. Mozilla Public License 2.0 (MPL-2.0)
            11. Open Software License 3.0 (OSL-3.0)
            12. Apache 2.0 (Apache-2.0)
            13. GNU Affero General Public License (GNU AGPLv3)
            14. Business Source License (BSL 1.1)
          required: false
          schema:
            type: string
        - in: query
          name: contractAddress
          description: "The contract address"
          required: false
          schema:
            type: string
        - in: query
          name: deployerAddress
          description: "The contract deployer address"
          required: false
          schema:
            type: string
        - in: query
          description: "If the contract has nametag, the value is true/false."
          name: hasNametag
          required: false
          schema:
            type: boolean
            enum:
              - true
              - false 
            default: false
        - in: query
          description: "The field used for sorting. The value is verified_time or txn_volume"
          name: sortField
          required: false
          schema:
            type: string
            default: verified_time
        - $ref: "#/components/parameters/minEpochNumberParam"
        - $ref: "#/components/parameters/maxEpochNumberParam"
        - $ref: "#/components/parameters/minTimestampParam"
        - $ref: "#/components/parameters/maxTimestampParam"
        - $ref: "#/components/parameters/sortParam"
        - $ref: "#/components/parameters/skipParamWithoutMaximum"
        - $ref: "#/components/parameters/limitParam"
      responses:
        200:
          description: Filter-paginated verified contracts list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VerificationListByFilter"
  /contract/lookupAbi:
    get:
      tags:
        - Contracts
      summary: "Look up function, error, or event ABI signatures by selector or topic hash."
      operationId: lookupAbiSignaturesBySelectorOrTopicHash
      description: Look up one or more function, error or event signatures by hash.
      parameters:
        - in: query
          name: function
          description: A comma-delimited list of function or error hashes with leading 0x prefix. Must be exactly 10 characters (0x + 8 hex chars). Supports up to 100 hashes at a time.
          required: false
          schema:
            type: string
        - in: query
          name: error
          description: A comma-delimited list of function or error hashes with leading 0x prefix. Must be exactly 10 characters (0x + 8 hex chars). Supports up to 100 hashes at a time.
          required: false
          schema:
            type: string
        - in: query
          name: event
          description: A comma-delimited list of event hashes with leading 0x prefix. Must be exactly 66 characters (0x + 64 hex chars). Supports up to 100 hashes at a time.
          required: false
          schema:
            type: string
      responses:
        200:
          description: The resulting signatures
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SignatureResponse"
              examples:
                successful_lookup:
                  $ref: "#/components/examples/SignatureSearchResults"
  /contract/searchAbi:
    get:
      tags:
        - Contracts
      summary: "Search function, error, or event ABI signatures by case-sensitive name pattern with wildcard support."
      operationId: searchAbiSignaturesByNamePattern
      description: Search signatures by name (case sensitive) with wildcards, limited to the first 100 unordered results per type.
      parameters:
        - in: query
          name: signature
          description: The signature of the function, error or event to search for. Case sensitive. Use '*' and '?' for wildcards.
          required: true
          schema:
            type: string
        - $ref: "#/components/parameters/signatureTypeParam"
      responses:
        200:
          description: The resulting signatures
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SignatureResponse"
              examples:
                successful_lookup:
                  $ref: "#/components/examples/SignatureSearchResults"
  /token/tokeninfos:
    get:
      tags:
        - 'Tokens'
      summary: "Get token metadata for up to 30 contract addresses in one request."
      operationId: getBatchTokenInfosByContractAddresses
      description: "Get Token Info by contract addresses. Supports up to 30 tokens at a time."
      parameters:
        - $ref: "#/components/parameters/contractArrayParam"
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TokenInfos"
  /token/tokeninfo/refresh:
    post:
      tags:
        - 'Tokens'
      summary: "Refresh token metadata for a contract when token name or symbol is missing."
      operationId: refreshTokenInfoByContractIfMissingNameOrSymbol
      description: "Refresh Token Info by contract address only when token name/symbol is empty."
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                contract:
                  type: string
                  required: true
                  description: "Contract address, on testnet, it's like cfxtest:acepe88unk7fvs18436178up33hb4zkuf62a9dk1gv,
                    on mainnet it's like cfx:acf2rcsh8payyxpg6xj7b0ztswwh81ute60tsw35j7"
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RefreshedTokenInfo"
  /nft/balances:
    get:
      tags:
        - 'NFT Assets'
      summary: "List NFT asset balances for an owner address with pagination."
      operationId: listNftBalancesByOwner
      description: "Get balances of NFT assets for account address."
      parameters:
        - $ref: "#/components/parameters/ownerParamMust"
        - $ref: "#/components/parameters/skipParamWithoutMaximum"
        - $ref: "#/components/parameters/limitParam"
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NFTBalanceList"
  /nft/tokens:
    get:
      tags:
        - 'NFT Assets'
      summary: "List NFT tokens by owner and/or contract, with cursor or skip pagination, sorting, and optional brief metadata."
      operationId: listNftTokensByOwnerOrContract
      description: |-
        Get token id array of specified NFT contract for account address.
        At least one of the parameters 'contract' and 'owner' is required.
      parameters:
        - $ref: "#/components/parameters/contractParam"
        - $ref: "#/components/parameters/ownerParam"
        - $ref: "#/components/parameters/sortParam"
        - $ref: "#/components/parameters/sortFieldParam"
        - $ref: "#/components/parameters/cursorParamWithoutMaximum"
        - $ref: "#/components/parameters/skipParamWithoutMaximum"
        - $ref: "#/components/parameters/limitParam"
        - $ref: "#/components/parameters/withBriefParam"
        - $ref: "#/components/parameters/withMetadataParam"
        - $ref: "#/components/parameters/suppressMetadataErrorParam"
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NFTTokenList"
  /nft/preview:
    get:
      tags:
        - 'NFT Assets'
      summary: "Get preview information and optional metadata for a specific NFT by contract address and token ID."
      operationId: getNftPreviewByContractAndTokenId
      description: "View the NFT for the specified contract address and tokenID."
      parameters:
        - $ref: "#/components/parameters/contractParamMust"
        - $ref: "#/components/parameters/tokenIdParamMust"
        - $ref: "#/components/parameters/withMetadataParam"
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NFTPreview"
  /nft/fts:
    get:
      tags:
        - 'NFT Assets'
      summary: "Search NFTs by metadata name and optionally by contract address."
      operationId: searchNftsByNameOrContract
      description: "Search the NFT by NFT name and/or contract address."
      parameters:
        - $ref: "#/components/parameters/nameParamMust"
        - $ref: "#/components/parameters/contractParam"
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NFTTokenFtsList"
  /nft/owners:
    get:
      tags:
        - 'NFT Assets'
      summary: "List owners of an NFT collection or specific token, with cursor pagination."
      operationId: listNftOwnersByContractOrTokenId
      description: "Get a list of owners for a NFT or a NFT collection. The owners are sorted by transfer timestamp with ascending direction"
      parameters:
        - $ref: "#/components/parameters/contractParamMust"
        - $ref: "#/components/parameters/tokenIdParam"
        - $ref: "#/components/parameters/cursorParamWithoutMaximum"
        - $ref: "#/components/parameters/limitParam"
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NFTOwnerList"
  /nft/transfers:
    get:
      tags:
        - 'NFT Assets'
      summary: "List NFT transfer records for a collection or token, filterable by participants, block range, timestamps, pagination, and sort order."
      operationId: listNftTransfersByContractOrTokenId
      description: "Get a list of transfers for a NFT"
      parameters:
        - $ref: "#/components/parameters/contractParamMust"
        - $ref: "#/components/parameters/tokenIdParam"
        - $ref: "#/components/parameters/cursorParamWithoutMaximum"
        - $ref: "#/components/parameters/limitParam"
        - $ref: "#/components/parameters/from"
        - $ref: "#/components/parameters/to"
        - $ref: "#/components/parameters/minEpochNumberParam"
        - $ref: "#/components/parameters/maxEpochNumberParam"
        - $ref: "#/components/parameters/minTimestampParam"
        - $ref: "#/components/parameters/maxTimestampParam"
        - $ref: "#/components/parameters/sortParam"
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TransferList"
  /util/decode/method:
    get:
      tags:
        - 'Utils'
      summary: "Decode method data for up to 10 verified-contract transactions by transaction hash."
      operationId: decodeVerifiedContractMethodByTransactionHashes
      description: "Decode the data of the transaction, where the `to` address of the transaction is the verified contract. Supports up to 10 transactions at a time."
      parameters:
        - $ref: "#/components/parameters/hashesParam"
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DecodedMethod"
  /util/decode/method/raw:
    get:
      tags:
        - 'Utils'
      summary: "Decode method data for up to 10 verified-contract raw inputs by contract address and calldata."
      operationId: decodeVerifiedContractMethodByRawContractAndInput
      description: "Decode the data of the raw transaction, where the `to` address of the transaction is the verified contract. Supports up to 10 transactions at a time."
      parameters:
        - $ref: "#/components/parameters/contractsParam"
        - $ref: "#/components/parameters/inputsParam"
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DecodedMethodRaw"
  /statistics/supply:
    get:
      tags:
        - 'Stats'
      summary: "Get CFX supply statistics, including issued, circulating, staking, collateral, and locked-balance metrics."
      operationId: getCfxSupplyStatistics
      description: |-
        Return supply info about CFX on Conflux Network.
        totalIssued: Total issued balance in Drip,
        totalCirculating: Total circulating balance in Drip,
        totalStaking: Total staking balance in Drip,
        totalCollateral: Total collateral balance in Drip,
        nullAddressBalance: Zero address's balance in Drip,
        twoYearUnlockBalance: Two year unlock address's balance in Drip,
        fourYearUnlockBalance: Four year unlock address's balance in Drip.
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MarketStat"
  /statistics/mining:
    get:
      tags:
        - 'Stats'
      summary: "List mining statistics over time, including block time, hash rate, and difficulty, filterable by interval, timestamps, pagination, and sort order."
      operationId: listMiningStatisticsByInterval
      description: "Get statistics of mining within ${limit} ${intervalType}."
      parameters:
        - description: "Indicator calculation period, should be one of min(minute), hour or day. Default is hour."
          name: intervalType
          in: query
          required: false
          schema:
            type: string
            default: hour
            enum:
              - min
              - hour
              - day
        - $ref: "#/components/parameters/minTimestampParam"
        - $ref: "#/components/parameters/maxTimestampParam"
        - $ref: "#/components/parameters/sortParam"
        - $ref: "#/components/parameters/skipParamWithoutMaximum"
        - $ref: "#/components/parameters/limitParamStat"
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MiningStat"
  /statistics/tps:
    get:
      tags:
        - 'Stats'
      summary: "List TPS statistics over time, filterable by interval, timestamps, pagination, and sort order."
      operationId: listTpsStatisticsByInterval
      description: "Get statistics of tps within ${limit} ${intervalType}."
      parameters:
        - name: intervalType
          description: "Indicate calculation period, should be one of min(minute), hour or day. Default is hour."
          in: query
          required: false
          schema:
            type: string
            default: hour
            enum:
              - min
              - hour
              - day
        - $ref: "#/components/parameters/minTimestampParam"
        - $ref: "#/components/parameters/maxTimestampParam"
        - $ref: "#/components/parameters/sortParam"
        - $ref: "#/components/parameters/skipParamWithoutMaximum"
        - $ref: "#/components/parameters/limitParamStat"
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TpsStat"
  /statistics/contract:
    get:
      tags:
        - 'Stats'
      summary: "List deployed contract statistics over time, filterable by timestamps, pagination, and sort order."
      operationId: listDeployedContractStatistics
      description: "Get statistics of deployed contract."
      parameters:
        - $ref: "#/components/parameters/minTimestampParam"
        - $ref: "#/components/parameters/maxTimestampParam"
        - $ref: "#/components/parameters/sortParam"
        - $ref: "#/components/parameters/skipParamWithoutMaximum"
        - $ref: "#/components/parameters/limitParamStat"
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ContractDeployedStat"
  /statistics/contract/verified:
    get:
      tags:
        - 'Stats'
      summary: "List verified contract statistics over time, filterable by timestamps, pagination, and sort order."
      operationId: listVerifiedContractStatistics
      description: "Get statistics of verified contract."
      parameters:
        - $ref: "#/components/parameters/minTimestampParam"
        - $ref: "#/components/parameters/maxTimestampParam"
        - $ref: "#/components/parameters/sortParam"
        - $ref: "#/components/parameters/skipParamWithoutMaximum"
        - $ref: "#/components/parameters/limitParamStat"
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ContractVerifiedStat"
  /statistics/account/cfx/holder:
    get:
      tags:
        - 'Stats'
      summary: "List daily total CFX holder statistics, filterable by timestamps, pagination, and sort order."
      operationId: listDailyCfxHolderStatistics
      description: "Get statistics of total cfx holder by daily."
      parameters:
        - $ref: "#/components/parameters/minTimestampParam"
        - $ref: "#/components/parameters/maxTimestampParam"
        - $ref: "#/components/parameters/sortParam"
        - $ref: "#/components/parameters/skipParamWithoutMaximum"
        - $ref: "#/components/parameters/limitParamStat"
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CfxHolderStat"
  /statistics/account/growth:
    get:
      tags:
        - 'Stats'
      summary: "List daily account growth statistics, filterable by timestamps, pagination, and sort order."
      operationId: listDailyAccountGrowthStatistics
      description: "Get statistics of account growth by daily."
      parameters:
        - $ref: "#/components/parameters/minTimestampParam"
        - $ref: "#/components/parameters/maxTimestampParam"
        - $ref: "#/components/parameters/sortParam"
        - $ref: "#/components/parameters/skipParamWithoutMaximum"
        - $ref: "#/components/parameters/limitParamStat"
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountGrowthStat"
  /statistics/account/active:
    get:
      tags:
        - 'Stats'
      summary: "List daily active sender statistics, filterable by timestamps, pagination, and sort order."
      operationId: listDailyActiveSenderStatistics
      description: "Get statistics of tx sender by daily."
      parameters:
        - $ref: "#/components/parameters/minTimestampParam"
        - $ref: "#/components/parameters/maxTimestampParam"
        - $ref: "#/components/parameters/sortParam"
        - $ref: "#/components/parameters/skipParamWithoutMaximum"
        - $ref: "#/components/parameters/limitParamStat"
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountActiveStat"
  /statistics/account/active/overall:
    get:
      tags:
        - 'Stats'
      summary: "List daily overall active account statistics for unique sender or receiver participation, filterable by timestamps, pagination, and sort order."
      operationId: listDailyOverallActiveAccountStatistics
      description: "Get statistics of unique addresses that were active on the network as a sender or receiver of CFX or Token."
      parameters:
        - $ref: "#/components/parameters/minTimestampParam"
        - $ref: "#/components/parameters/maxTimestampParam"
        - $ref: "#/components/parameters/sortParam"
        - $ref: "#/components/parameters/skipParamWithoutMaximum"
        - $ref: "#/components/parameters/limitParamStat"
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountActiveStat"
  /statistics/transaction:
    get:
      tags:
        - 'Stats'
      summary: "List daily transaction statistics, filterable by timestamps, pagination, and sort order."
      operationId: listDailyTransactionStatistics
      description: "Get statistics of transaction account by daily."
      parameters:
        - $ref: "#/components/parameters/minTimestampParam"
        - $ref: "#/components/parameters/maxTimestampParam"
        - $ref: "#/components/parameters/sortParam"
        - $ref: "#/components/parameters/skipParamWithoutMaximum"
        - $ref: "#/components/parameters/limitParamStat"
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TransactionStat"
  /statistics/cfx/transfer:
    get:
      tags:
        - 'Stats'
      summary: "List daily native CFX transfer statistics, filterable by timestamps, pagination, and sort order."
      operationId: listDailyNativeTransferStatistics
      description: "Get statistics of cfx transfer by daily."
      parameters:
        - $ref: "#/components/parameters/minTimestampParam"
        - $ref: "#/components/parameters/maxTimestampParam"
        - $ref: "#/components/parameters/sortParam"
        - $ref: "#/components/parameters/skipParamWithoutMaximum"
        - $ref: "#/components/parameters/limitParamStat"
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CfxTransferStat"
  /statistics/token/transfer:
    get:
      tags:
        - 'Stats'
      summary: "List daily token transfer statistics, optionally filtered by token contract and by timestamps, pagination, and sort order."
      operationId: listDailyTokenTransferStatistics
      description: "Get statistics of token transfer by daily."
      parameters:
        - $ref: "#/components/parameters/contractParam"
        - $ref: "#/components/parameters/minTimestampParam"
        - $ref: "#/components/parameters/maxTimestampParam"
        - $ref: "#/components/parameters/sortParam"
        - $ref: "#/components/parameters/skipParamWithoutMaximum"
        - $ref: "#/components/parameters/limitParamStat"
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TokenTransferStat"
  /statistics/top/gas/used:
    get:
      tags:
        - 'Stats'
      summary: "List top gas-using entities for a selected time span of 24h, 3d, or 7d."
      operationId: listTopGasUsedStatistics
      description: "Get statistics of gas used for top 10."
      parameters:
        - $ref: "#/components/parameters/spanParam"
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GasUsedTopStat"
  /statistics/top/miner:
    get:
      tags:
        - 'Stats'
      summary: "List top miners for a selected time span of 24h, 3d, or 7d."
      operationId: listTopMinerStatistics
      description: "Get statistics of miner for top 10."
      parameters:
        - $ref: "#/components/parameters/spanParam"
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MinerTopStat"
  /statistics/top/transaction/sender:
    get:
      tags:
        - 'Stats'
      summary: "List top transaction senders for a selected time span of 24h, 3d, or 7d."
      operationId: listTopTransactionSenderStatistics
      description: "Get statistics of transaction sender for top 10."
      parameters:
        - $ref: "#/components/parameters/spanParam"
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AddressTransactionTopStat"
  /statistics/top/transaction/receiver:
    get:
      tags:
        - 'Stats'
      summary: "List top transaction receivers for a selected time span of 24h, 3d, or 7d."
      operationId: listTopTransactionReceiverStatistics
      description: "Get statistics of transaction receiver for top 10."
      parameters:
        - $ref: "#/components/parameters/spanParam"
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AddressTransactionTopStat"
  /statistics/top/cfx/sender:
    get:
      tags:
        - 'Stats'
      summary: "List top native CFX senders for a selected time span of 24h, 3d, or 7d."
      operationId: listTopNativeSenderStatistics
      description: "Get statistics of cfx sender for top 10."
      parameters:
        - $ref: "#/components/parameters/spanParam"
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AddressCfxTransferTopStat"
  /statistics/top/cfx/receiver:
    get:
      tags:
        - 'Stats'
      summary: "List top native CFX receivers for a selected time span of 24h, 3d, or 7d."
      operationId: listTopNativeReceiverStatistics
      description: "Get statistics of cfx receiver for top 10."
      parameters:
        - $ref: "#/components/parameters/spanParam"
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AddressCfxTransferTopStat"
  /statistics/top/token/transfer:
    get:
      tags:
        - 'Stats'
      summary: "List top token transfer statistics for a selected time span of 24h, 3d, or 7d."
      operationId: listTopTokenTransferStatistics
      description: "Get statistics of token transfer for top 10."
      parameters:
        - $ref: "#/components/parameters/spanParam"
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TokenTransferTopStat"
  /statistics/top/token/sender:
    get:
      tags:
        - 'Stats'
      summary: "List top token senders for a selected time span of 24h, 3d, or 7d."
      operationId: listTopTokenSenderStatistics
      description: "Get statistics of token sender for top 10."
      parameters:
        - $ref: "#/components/parameters/spanParam"
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TokenSenderTopStat"
  /statistics/top/token/receiver:
    get:
      tags:
        - 'Stats'
      summary: "List top token receivers for a selected time span of 24h, 3d, or 7d."
      operationId: listTopTokenReceiverStatistics
      description: "Get statistics of token receiver for top 10."
      parameters:
        - $ref: "#/components/parameters/spanParam"
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TokenReceiverTopStat"
  /statistics/top/token/participant:
    get:
      tags:
        - 'Stats'
      summary: "List top token participants for a selected time span of 24h, 3d, or 7d."
      operationId: listTopTokenParticipantStatistics
      description: "Get statistics of token participant for top 10."
      parameters:
        - $ref: "#/components/parameters/spanParam"
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TokenParticipantTopStat"
  /statistics/token/holder:
    get:
      tags:
        - 'Stats'
      summary: "List daily token holder count statistics for a contract, filterable by timestamps, pagination, and sort order."
      operationId: listDailyTokenHolderStatistics
      description: "Get statistics of holder count for token transfer by daily."
      parameters:
        - $ref: "#/components/parameters/contractParamMust"
        - $ref: "#/components/parameters/minTimestampParam"
        - $ref: "#/components/parameters/maxTimestampParam"
        - $ref: "#/components/parameters/sortParam"
        - $ref: "#/components/parameters/skipParamWithoutMaximum"
        - $ref: "#/components/parameters/limitParamStat"
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TokenHolderStat"
  /statistics/token/unique/sender:
    get:
      tags:
        - 'Stats'
      summary: "List daily unique token sender statistics for a contract, filterable by timestamps, pagination, and sort order."
      operationId: listDailyUniqueTokenSenderStatistics
      description: "Get statistics of unique sender count for token transfer by daily."
      parameters:
        - $ref: "#/components/parameters/contractParamMust"
        - $ref: "#/components/parameters/minTimestampParam"
        - $ref: "#/components/parameters/maxTimestampParam"
        - $ref: "#/components/parameters/sortParam"
        - $ref: "#/components/parameters/skipParamWithoutMaximum"
        - $ref: "#/components/parameters/limitParamStat"
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TokenTransferUniqueSenderStat"
  /statistics/token/unique/receiver:
    get:
      tags:
        - 'Stats'
      summary: "List daily unique token receiver statistics for a contract, filterable by timestamps, pagination, and sort order."
      operationId: listDailyUniqueTokenReceiverStatistics
      description: "Get statistics of unique receiver count for token transfer by daily."
      parameters:
        - $ref: "#/components/parameters/contractParamMust"
        - $ref: "#/components/parameters/minTimestampParam"
        - $ref: "#/components/parameters/maxTimestampParam"
        - $ref: "#/components/parameters/sortParam"
        - $ref: "#/components/parameters/skipParamWithoutMaximum"
        - $ref: "#/components/parameters/limitParamStat"
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TokenTransferUniqueReceiverStat"
  /statistics/token/unique/participant:
    get:
      tags:
        - 'Stats'
      summary: "List daily unique token participant statistics for a contract, filterable by timestamps, pagination, and sort order."
      operationId: listDailyUniqueTokenParticipantStatistics
      description: "Get statistics of unique participant count for token transfer by daily."
      parameters:
        - $ref: "#/components/parameters/contractParamMust"
        - $ref: "#/components/parameters/minTimestampParam"
        - $ref: "#/components/parameters/maxTimestampParam"
        - $ref: "#/components/parameters/sortParam"
        - $ref: "#/components/parameters/skipParamWithoutMaximum"
        - $ref: "#/components/parameters/limitParamStat"
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TokenTransferUniqueParticipantStat"
  /statistics/nft/asset:
    get:
      tags:
        - 'Stats'
      summary: "List NFT assets for a selected time span of day or month, with pagination, time-range filtering, and sorting."
      operationId: listNftAssetStatistics
      description: "Get statistics of nft assets within ${limit} ${intervalType}."
      parameters:
        - name: intervalType
          in: query
          description: "Indicator calculation period, should be day or month. Default is day."
          required: false
          schema:
            type: string
            default: day
            enum:
              - day
              - month
        - $ref: "#/components/parameters/minTimestampParam"
        - $ref: "#/components/parameters/maxTimestampParam"
        - $ref: "#/components/parameters/sortParam"
        - $ref: "#/components/parameters/skipParamWithoutMaximum"
        - $ref: "#/components/parameters/limitParamStat"
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NFTStat"
  /statistics/nft/contract:
    get:
      tags:
        - 'Stats'
      summary: "List NFT contracts for a selected time span of day or month, with pagination, time-range filtering, and sorting."
      operationId: listNftContractStatistics
      description: "Get statistics of nft contracts within ${limit} ${intervalType}."
      parameters:
        - name: intervalType
          in: query
          description: "Indicator calculation period, should be day or month. Default is day."
          required: false
          schema:
            type: string
            default: day
            enum:
              - day
              - month
        - $ref: "#/components/parameters/minTimestampParam"
        - $ref: "#/components/parameters/maxTimestampParam"
        - $ref: "#/components/parameters/sortParam"
        - $ref: "#/components/parameters/skipParamWithoutMaximum"
        - $ref: "#/components/parameters/limitParamStat"
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NFTStat"
  /statistics/nft/transfer:
    get:
      tags:
        - 'Stats'
      summary: "List NFT transfers for a selected time span of day or month, with pagination, time-range filtering, and sorting."
      operationId: listNftTransferStatistics
      description: "Get statistics of total nft transfers within ${limit} ${intervalType}."
      parameters:
        - name: intervalType
          in: query
          description: "Indicator calculation period, should be day or month. Default is day."
          required: false
          schema:
            type: string
            default: day
            enum:
              - day
              - month
        - $ref: "#/components/parameters/minTimestampParam"
        - $ref: "#/components/parameters/maxTimestampParam"
        - $ref: "#/components/parameters/sortParam"
        - $ref: "#/components/parameters/skipParamWithoutMaximum"
        - $ref: "#/components/parameters/limitParamStat"
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NFTStat"
  /statistics/nft/holder:
    get:
      tags:
        - 'Stats'
      summary: "List NFT holders for a selected time span of day or month, with pagination, time-range filtering, and sorting."
      operationId: listNftHolderStatistics
      description: "Get statistics of nft holder within by daily."
      parameters:
        - name: intervalType
          in: query
          description: "Indicator calculation period, should be day or month. Default is day."
          required: false
          schema:
            type: string
            default: day
            enum:
              - day
              - month
        - $ref: "#/components/parameters/minTimestampParam"
        - $ref: "#/components/parameters/maxTimestampParam"
        - $ref: "#/components/parameters/sortParam"
        - $ref: "#/components/parameters/skipParamWithoutMaximum"
        - $ref: "#/components/parameters/limitParamStat"
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NFTHolderStat"
  /statistics/reward/pow:
    get:
      tags:
        - 'Stats'
      summary: "List pow reward statistics for a selected time span of day or month, with pagination, time-range filtering, and sorting."
      operationId: listPowRewardStatistics
      description: "Get statistics of pow reward within ${limit} ${intervalType}."
      parameters:
        - name: intervalType
          in: query
          description: "Indicator calculation period, should be day or month. Default is day."
          required: false
          schema:
            type: string
            default: day
            enum:
              - day
              - month
        - $ref: "#/components/parameters/minTimestampParam"
        - $ref: "#/components/parameters/maxTimestampParam"
        - $ref: "#/components/parameters/sortParam"
        - $ref: "#/components/parameters/skipParamWithoutMaximum"
        - $ref: "#/components/parameters/limitParamStat"
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RewardStat"
  /statistics/reward/pos:
    get:
      tags:
        - 'Stats'
      summary: "List pos reward statistics for a selected time span of day or month, with pagination, time-range filtering, and sorting."
      operationId: listPosRewardStatistics
      description: "Get statistics of pos reward within ${limit} ${intervalType}."
      parameters:
        - name: intervalType
          in: query
          description: "Indicator calculation period, should be day or month. Default is day."
          required: false
          schema:
            type: string
            default: day
            enum:
              - day
              - month
        - $ref: "#/components/parameters/minTimestampParam"
        - $ref: "#/components/parameters/maxTimestampParam"
        - $ref: "#/components/parameters/sortParam"
        - $ref: "#/components/parameters/skipParamWithoutMaximum"
        - $ref: "#/components/parameters/limitParamStat"
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RewardStat"
  /statistics/burnt/fee:
    get:
      tags:
        - 'Stats'
      summary: "List burnt fee statistics with pagination, time-range filtering, and sorting."
      operationId: listBurntFeeStatistics
      description: "Get statistics of burnt fee within ${limit}."
      parameters:
        - $ref: "#/components/parameters/minTimestampParam"
        - $ref: "#/components/parameters/maxTimestampParam"
        - $ref: "#/components/parameters/sortParam"
        - $ref: "#/components/parameters/skipParamWithoutMaximum"
        - $ref: "#/components/parameters/limitParamStat"
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BurntFeeStat"
  /statistics/burnt/rate:
    get:
      tags:
        - 'Stats'
      summary: "List burnt rate statistics with pagination, time-range filtering, and sorting."
      operationId: listBurntRateStatistics
      description: "Get statistics of burnt rate within ${limit}."
      parameters:
        - $ref: "#/components/parameters/minTimestampParam"
        - $ref: "#/components/parameters/maxTimestampParam"
        - $ref: "#/components/parameters/sortParam"
        - $ref: "#/components/parameters/skipParamWithoutMaximum"
        - $ref: "#/components/parameters/limitParamStat"
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BurntRateStat"
  "/statistics/block/base-fee":
    get:
      tags:
        - 'Stats'
      summary: "List block base fee statistics over time, filterable by timestamps, pagination, and sort order."
      operationId: listBlockBaseFeeStatistics
      description: "Get statistics of base fee within ${limit}."
      parameters:
        - $ref: "#/components/parameters/minTimestampParam"
        - $ref: "#/components/parameters/maxTimestampParam"
        - $ref: "#/components/parameters/sortParam"
        - $ref: "#/components/parameters/skipParamWithoutMaximum"
        - $ref: "#/components/parameters/limitParamStat"
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BaseFeeStat"
  "/statistics/block/avg-priority-fee":
    get:
      tags:
        - 'Stats'
      summary: "List block average priority fee statistics over time, filterable by timestamps, pagination, and sort order."
      operationId: listBlockAveragePriorityFeeStatistics
      description: "Get statistics of average priority fee within ${limit}."
      parameters:
        - $ref: "#/components/parameters/minTimestampParam"
        - $ref: "#/components/parameters/maxTimestampParam"
        - $ref: "#/components/parameters/sortParam"
        - $ref: "#/components/parameters/skipParamWithoutMaximum"
        - $ref: "#/components/parameters/limitParamStat"
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AvgPriorityFeeStat"
  "/statistics/block/gas-used":
    get:
      tags:
        - 'Stats'
      summary: "List block gas used statistics over time, filterable by timestamps, pagination, and sort order."
      operationId: listBlockGasUsedStatistics
      description: "Get statistics of gas used within ${limit}."
      parameters:
        - $ref: "#/components/parameters/minTimestampParam"
        - $ref: "#/components/parameters/maxTimestampParam"
        - $ref: "#/components/parameters/sortParam"
        - $ref: "#/components/parameters/skipParamWithoutMaximum"
        - $ref: "#/components/parameters/limitParamStat"
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GasUsedStat"
  "/statistics/block/txs-by-type":
    get:
      tags:
        - 'Stats'
      summary: "List block transaction-type statistics over time, filterable by timestamps, pagination, and sort order."
      operationId: listBlockTransactionTypeStatistics
      description: "Get statistics of transactions by type within ${limit}."
      parameters:
        - $ref: "#/components/parameters/minTimestampParam"
        - $ref: "#/components/parameters/maxTimestampParam"
        - $ref: "#/components/parameters/sortParam"
        - $ref: "#/components/parameters/skipParamWithoutMaximum"
        - $ref: "#/components/parameters/limitParamStat"
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TxsByTypeStat"
  /data/accounts:
    get:
      tags:
        - 'data'
      summary: "Get account list, with cursor pagination, pagination, sorting"
      operationId: listDataAccounts
      description: "Get accounts on the blockchain."
      parameters:
        - $ref: "#/components/parameters/idCursor"
        - $ref: "#/components/parameters/limitParam"
        - $ref: "#/components/parameters/sortParam"
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StringArray"
components:
  schemas:
    ResponseBase:
      type: object
      properties:
        code:
          type: integer
          description: Response status code (0 for success, others for error).
          example: 0
        message:
          type: string
          description: Response message.
          example: "success"
        data:
          description: Endpoint-specific response payload.    
    Version:
      allOf:
        - $ref: "#/components/schemas/ResponseBase"
        - type: object
          properties:
            data:
              type: object
              properties:
                version:
                  type: string
    AddressInfo:
      type: object
      additionalProperties:
        type: object
        properties:
          contract:
            type: object
            properties:
              name:
                type: string
                description: "Name of the contract."
              verify:
                type: object
                properties:
                  result:
                    type: integer
                    description: "Verify result of the contract, 1-verified, 0-not verified."
          token:
            type: object
            properties:
              name:
                type: string
                description: "Name of the token."
              symbol:
                type: string
                description: "Symbol of the token."
              decimals:
                type: integer
                description: "Decimal of the token, omit if empty."
                nullable: true
              website:
                type: string
                description: "Website  of the token, optional"
                nullable: true
              iconUrl:
                type: string
                description: "Icon url, optional"
                nullable: true
              tokenType:
                type: string
                description: "Token type, CRC20、CRC721 or CRC1155"
    AssetsOfAccount:
      allOf:
        - $ref: "#/components/schemas/ResponseBase"
        - type: object
          properties:
            data:
              type: object
              properties:
                list:
                  type: array
                  items:
                    type: object
                    properties:
                      contract:
                        description: "Contract address of the token. Omit if it is native token."
                        type: string
                        nullable: true
                      name:
                        description: "Name of the token."
                        type: string
                      symbol:
                        description: "Symbol of the token."
                        type: string
                        example: CFX
                      decimals:
                        description: "Decimal of the token, omit if empty."
                        type: integer
                        nullable: true
                      type:
                        description: "Token type, CRC20、CRC721、CRC1155 or native"
                        type: string
                      iconUrl:
                        description: "Icon url, optional."
                        type: string
                        example: "http://scan-icons.oss-cn-hongkong.aliyuncs.com/testnet/xxxxxx.svg"
                        nullable: true
                      quoteUrl:
                        description: "The quote url of token, optional."
                        type: string
                        nullable: true
                      priceInUSDT:
                        description: "The price of token in USDT, optional."
                        type: string
                        nullable: true
                      amount:
                        description: "The token/native-token balance of an account, the string is not divided by the token decimal."
                        type: string
                      stakingAmount:
                        description: "The staking token/native-token balance of an account, the string is not divided by the token decimal."
                        type: string
    AccountInfos:
      type: object
      additionalProperties:
        type: object
        properties:
          contract:
            type: object
            properties:
              name:
                type: string
                description: "Name of the contract."
          token:
            type: object
            properties:
              name:
                type: string
                description: "Name of the token."
              symbol:
                type: string
                description: "Symbol of the token."
              decimals:
                type: integer
                description: "Decimal of the token, omit if empty."
                nullable: true
              iconUrl:
                type: string
                description: "Icon url, optional"
                nullable: true
              website:
                type: string
                description: "Website  of the token, optional"
                nullable: true
              tokenType:
                type: string
                description: "Token type, CRC20、CRC721 or CRC1155"
          verification:
            type: object
            properties:
              name:
                type: string
                description: "Name of the verified contract."
          eSpace:
            type: object
            properties:
              address:
                type: string
                description: "ESpace address."
          ens:
            type: object
            properties:
              name:
                type: string
                description: "ENS name."
          nameTag:
            type: object
            properties:
              nameTag:
                type: string
                description: "Name tag."
              website:
                type: string
                description: Website.
              desc:
                type: string
                description: Description.
              labels:
                type: array
                description: "Label array."
                items:
                  type: string
                  description: Label.
              caution:
                type: string
                description: "The caution = 1 when labels contains a caution label. The caution = 0 when others"
          implementation:
            type: object
            properties:
              name:
                type: string
                description: "Name of the implementation contract."
              address:
                type: string
                description: "Address of the implementation contract."
              proxyPattern:
                type: string
                description: "Proxy pattern."
    VerificationList:
      type: array
      items:
        type: object
        properties:
          address:
            type: string
            example: |-
              on testnet, it's like cfxtest:aatmcd6m3e4gjczt9v9d1gca1d77trk3vjr04w5yha
              on mainnet, it's like cfx:aanjcf1esdz50j6zhkm0k60wc7669tfkw28mzudg24
          contractName:
            type: string
            example: MyToken
          compiler:
            type: string
            example: solc
          compilerVersion:
            type: string
            example: 0.8.24
          longCompilerVersion:
            type: string
            example: "v0.8.24+commit.e11b9ed9"
          compilerVulnerabilities:
            type: number
            example: 1
          language:
            type: string
            example: solidity
          codeFormat:
            type: string
            example: "Solidity(Json)"
          balance:
            type: string
            example: 10000
          txns:
            type: number
            example: 10000
          setting:
            type: object
            properties:
              optimizationEnabled:
                type: boolean
              constructorArguments:
                type: boolean
            example:
              optimizationEnabled: true
              constructorArguments: false
          license:
            type: string
            example: MIT
          verifiedAt:
            type: integer
            example: 1767225600
          deployer:
            type: string
            example: |-
              on testnet, it's like cfxtest:aatmcd6m3e4gjczt9v9d1gca1d77trk3vjr04w5yha
              on mainnet, it's like cfx:aanjcf1esdz50j6zhkm0k60wc7669tfkw28mzudg24
          blockNumber:
            type: number
            example: 10000
          hasNametag:
            type: boolean
            example: true
    VerificationListByCursor:
      allOf:
        - $ref: "#/components/schemas/ResponseBase"
        - type: object
          properties:
            data:
              type: object
              properties:
                total:
                  type: integer
                next:
                  description: A cursor to retrieve the next page
                  type: string
                list:
                  $ref: "#/components/schemas/VerificationList"
    VerificationListByFilter:
      allOf:
        - $ref: "#/components/schemas/ResponseBase"
        - type: object
          properties:
            data:
              type: object
              properties:
                total:
                  type: integer
                listLimit:
                  type: integer
                  description: "Maximum number of records this API returns in total. Only the latest listLimit records are accessible; requesting with skip >= listLimit returns an invalid parameter error."
                  example: 5000
                list:
                  $ref: "#/components/schemas/VerificationList"
    SignatureResponse:
      allOf:
        - $ref: "#/components/schemas/ResponseBase"
        - type: object
          properties:
            data:
              type: object
              properties:
                function:
                  type: object
                  description: Function signatures by hash.
                  additionalProperties:
                    type: array
                    items:
                      type: object
                      properties:
                        signature:
                          type: string
                        fullFormat:
                          type: string
                        hasVerifiedContract:
                          type: boolean
                error:
                  type: object
                  description: Error signatures by hash.
                  additionalProperties:
                    type: array
                    items:
                      type: object
                      properties:
                        signature:
                          type: string
                        fullFormat:
                          type: string
                        hasVerifiedContract:
                          type: boolean
                event:
                  type: object
                  description: Event signatures by hash.
                  additionalProperties:
                    type: array
                    items:
                      type: object
                      properties:
                        signature:
                          type: string
                        fullFormat:
                          type: string
                        hasVerifiedContract:
                          type: boolean
    TokenInfos:
      allOf:
        - $ref: "#/components/schemas/ResponseBase"
        - type: object
          properties:
            data:
              type: array
              items:
                type: object
                properties:
                  contract:
                    description: "Contract address of the token."
                    type: string
                  name:
                    description: "Name of the token."
                    type: string
                  symbol:
                    description: "Symbol of the token."
                    type: string
                    example: CFX
                  decimals:
                    description: "Decimal of the token, omit if empty."
                    type: integer
                    nullable: true
                  type:
                    description: "Token type, CRC20、CRC721、CRC1155."
                    type: string
                  iconUrl:
                    description: "Icon url, optional."
                    type: string
                    example: "http://scan-icons.oss-cn-hongkong.aliyuncs.com/testnet/xxxxxx.svg"
                    nullable: true
                  quoteUrl:
                    description: "The quote url of token, optional."
                    type: string
                    nullable: true
                  priceInUSDT:
                    description: "The price of token in USDT, optional."
                    type: string
                    nullable: true
                  error:
                    description: "A string describing a particular reason that we were unable to get token info."
                    type: string
    RefreshedTokenInfo:
      allOf:
        - $ref: "#/components/schemas/ResponseBase"
        - type: object
          properties:
            data:
              type: object
              properties:
                contract:
                  description: "Contract address of the token."
                  type: string
                name:
                  description: "Name of the token."
                  type: string
                symbol:
                  description: "Symbol of the token."
                  type: string
                  example: CFX
                decimals:
                  description: "Decimal of the token, omit if empty."
                  type: integer
                  nullable: true
                type:
                  description: "Token type, CRC20、CRC721、CRC1155."
                  type: string
    TokenInfo:
      allOf:
        - $ref: "#/components/schemas/ResponseBase"
        - type: object
          properties:
            data:
              type: object
              properties:
                contractAddress:
                  type: string
                tokenName:
                  type: string
                symbol:
                  type: string
                divisor:
                  type: string
                tokenType:
                  type: string
                totalSupply:
                  type: string
                blueCheckmark:
                  type: string
                description:
                  type: string
                website:
                  type: string
                email:
                  type: string
                blog:
                  type: string
                reddit:
                  type: string
                slack:
                  type: string
                facebook:
                  type: string
                twitter:
                  type: string
                bitcointalk:
                  type: string
                github:
                  type: string
                telegram:
                  type: string
                wechat:
                  type: string
                linkedin:
                  type: string
                discord:
                  type: string
                whitepaper:
                  type: string
    TransferCfxList:
      allOf:
        - $ref: "#/components/schemas/ResponseBase"
        - type: object
          properties:
            data:
              type: object
              properties:
                total:
                  type: integer
                list:
                  type: array
                  items:
                    type: object
                    properties:
                      epochNumber:
                        type: integer
                      transactionHash:
                        type: string
                      from:
                        type: string
                      to:
                        type: string
                      amount:
                        type: string
                      timestamp:
                        type: integer
                addressInfo:
                  $ref: "#/components/schemas/AddressInfo"
    Transfer20List:
      allOf:
        - $ref: "#/components/schemas/ResponseBase"
        - type: object
          properties:
            data:
              type: object
              properties:
                total:
                  type: integer
                list:
                  type: array
                  items:
                    type: object
                    properties:
                      epochNumber:
                        type: integer
                      transactionHash:
                        type: string
                      from:
                        type: string
                      to:
                        type: string
                      amount:
                        type: string
                      timestamp:
                        type: integer
                addressInfo:
                  $ref: "#/components/schemas/AddressInfo"
    Transfer721List:
      allOf:
        - $ref: "#/components/schemas/ResponseBase"
        - type: object
          properties:
            data:
              type: object
              properties:
                total:
                  type: integer
                list:
                  type: array
                  items:
                    type: object
                    properties:
                      epochNumber:
                        type: integer
                      transactionHash:
                        type: string
                      from:
                        type: string
                      to:
                        type: string
                      tokenId:
                        type: string
                      timestamp:
                        type: integer
                addressInfo:
                  $ref: "#/components/schemas/AddressInfo"
    Transfer1155List:
      allOf:
        - $ref: "#/components/schemas/ResponseBase"
        - type: object
          properties:
            data:
              type: object
              properties:
                total:
                  type: integer
                list:
                  type: array
                  items:
                    type: object
                    properties:
                      epochNumber:
                        type: integer
                      transactionHash:
                        type: string
                      from:
                        type: string
                      to:
                        type: string
                      amount:
                        type: string
                      tokenId:
                        type: string
                      timestamp:
                        type: integer
                addressInfo:
                  $ref: "#/components/schemas/AddressInfo"
    Transfer3525List:
      allOf:
        - $ref: "#/components/schemas/ResponseBase"
        - type: object
          properties:
            data:
              type: object
              properties:
                total:
                  type: integer
                list:
                  type: array
                  items:
                    type: object
                    properties:
                      epochNumber:
                        type: integer
                      transactionHash:
                        type: string
                      from:
                        type: string
                      to:
                        type: string
                      fromTokenId:
                        type: string
                        description: "field for TransferValue event"
                      toTokenId:
                        type: string
                        description: "field for TransferValue event"
                      event:
                        type: string
                        description: "event name, TransferValue or Transfer"
                      amount:
                        type: string
                      tokenId:
                        type: string
                        description: "field for Transfer event"
                      slot:
                        type: string
                      timestamp:
                        type: integer
                addressInfo:
                  $ref: "#/components/schemas/AddressInfo"
    Approvals:
      allOf:
        - $ref: "#/components/schemas/ResponseBase"
        - type: object
          properties:
            data:
              type: object
              properties:
                total:
                  type: integer
                list:
                  type: array
                  items:
                    type: object
                    properties:
                      value:
                        description: |-
                          This field has different meanings according to different situations.
                          For CRC20, it is the approval amount. For CRC1155 it is the `ApprovalForAll` flag.
                          For CRC721, it is the `ApprovalForAll` flag or the `Approval` tokenId, depending on the `type` field.
                        type: string
                      approvalType:
                        description: "Approval type, could be: `Approval` or `ApprovalForAll`."
                        type: string
                      balance:
                        description: "Token balance for CRC20"
                        type: string
                      contract:
                        type: string
                      spenderName:
                        type: string
                      spender:
                        type: string
                      tokenInfo:
                        type: object
                        properties:
                          name:
                            type: string
                          symbol:
                            type: string
                          base32:
                            type: string
                          iconUrl:
                            type: string
                          type:
                            type: string
                          decimals:
                            type: integer
    TransferList:
      allOf:
        - $ref: "#/components/schemas/ResponseBase"
        - type: object
          properties:
            data:
              type: object
              properties:
                total:
                  type: integer
                next:
                  description: A cursor to retrieve the next page
                  type: string
                list:
                  type: array
                  items:
                    type: object
                    properties:
                      epochNumber:
                        type: integer
                        description: "Epoch Number"
                      transactionHash:
                        type: string
                        description: "Transaction Hash"
                      from:
                        type: string
                        description: |-
                          Account address
                          on testnet, it's like cfxtest:aatmcd6m3e4gjczt9v9d1gca1d77trk3vjr04w5yha
                          on mainnet, it's like cfx:aanjcf1esdz50j6zhkm0k60wc7669tfkw28mzudg24
                      to:
                        type: string
                        description: |-
                          Account address
                          on testnet, it's like cfxtest:aatmcd6m3e4gjczt9v9d1gca1d77trk3vjr04w5yha
                          on mainnet, it's like cfx:aanjcf1esdz50j6zhkm0k60wc7669tfkw28mzudg24
                      amount:
                        type: string
                        description: "The CFX value or token amount in the transfer, the string is not divided by the CFX/token decimal"
                      tokenId:
                        type: string
                        description: "The token id in CRC721/CRC1155 transfer, otherwise it is 0"
                      timestamp:
                        type: integer
                        description: "Timestamp in seconds"
                addressInfo:
                  $ref: "#/components/schemas/AddressInfo"
    TransferListWithCursor:
      allOf:
        - $ref: "#/components/schemas/ResponseBase"
        - type: object
          properties:
            data:
              type: object
              properties:
                total:
                  type: integer
                next:
                  description: A cursor to retrieve the next page
                  type: string
                list:
                  type: array
                  items:
                    type: object
                    properties:
                      epochNumber:
                        type: integer
                        description: "Epoch Number"
                      transactionHash:
                        type: string
                        description: "Transaction Hash"
                      from:
                        type: string
                        description: |-
                          Account address
                          on testnet, it's like cfxtest:aatmcd6m3e4gjczt9v9d1gca1d77trk3vjr04w5yha
                          on mainnet, it's like cfx:aanjcf1esdz50j6zhkm0k60wc7669tfkw28mzudg24
                      to:
                        type: string
                        description: |-
                          Account address
                          on testnet, it's like cfxtest:aatmcd6m3e4gjczt9v9d1gca1d77trk3vjr04w5yha
                          on mainnet, it's like cfx:aanjcf1esdz50j6zhkm0k60wc7669tfkw28mzudg24
                      amount:
                        type: string
                        description: "The CFX value or token amount in the transfer, the string is not divided by the CFX/token decimal"
                      tokenId:
                        type: string
                        description: "The token id in CRC721/CRC1155 transfer, otherwise it is 0"
                      timestamp:
                        type: integer
                        description: "Timestamp in seconds"
                      cursor:
                        type: string
                        description: "The cursor of the transfer"
                      type:
                        type: string
                        description: "Transfer type."
                      nonce:
                        type: string
                        description: "Transaction nonce, omit if empty."
                        nullable: true
                      method:
                        type: string
                        description: "Transaction method name, omit if empty."
                        nullable: true
                      status:
                        type: integer
                        description: "Transaction status, 0-success, 1-fail, omit if empty."
                        nullable: true
                      gasFee:
                        type: string
                        description: "Transaction fee, omit if empty."
                        nullable: true
                      methodId:
                        type: string
                        description: "Transaction method id, omit if empty."
                        nullable: true
                addressInfo:
                  $ref: "#/components/schemas/AddressInfo"
    MiningStat:
      allOf:
        - $ref: "#/components/schemas/ResponseBase"
        - type: object
          properties:
            data:
              type: object
              properties:
                total:
                  type: integer
                list:
                  type: array
                  items:
                    type: object
                    properties:
                      blockTime:
                        type: string
                        description: ""
                      hashRate:
                        type: string
                        description: ""
                      difficulty:
                        type: string
                        description: ""
                      statTime:
                        type: string
                        description: "Statistics time, UTC."
    TransactionList:
      allOf:
        - $ref: "#/components/schemas/ResponseBase"
        - type: object
          properties:
            data:
              type: object
              properties:
                total:
                  type: integer
                list:
                  type: array
                  items:
                    type: object
                    properties:
                      epochNumber:
                        type: integer
                      blockPosition:
                        type: integer
                        description: "One epoch may have multiple blocks. It's the position of current block in all blocks."
                      transactionIndex:
                        type: integer
                        description: "One block may have multiple transactions. It's the position of this transaction in all transactions."
                      nonce:
                        type: integer
                      hash:
                        description: "transaction hash"
                        type: string
                      from:
                        type: string
                      to:
                        type: string
                      value:
                        type: string
                        description: "Amount of cfx, in drip."
                      gasPrice:
                        type: string
                      gasFee:
                        type: string
                      timestamp:
                        description: "Timestamp in seconds. "
                        type: number
                      status:
                        type: integer
                      contractCreated:
                        type: string
                      method:
                        type: string
                        description: "method id or method name."
                addressInfo:
                  $ref: "#/components/schemas/AddressInfo"
    MarketStat:
      allOf:
        - $ref: "#/components/schemas/ResponseBase"
        - type: object
          properties:
            data:
              type: object
              properties:
                totalIssued:
                  type: string
                  description: "Total issued balance in Drip"
                totalCirculating:
                  type: string
                  description: "Total circulating balance in Drip"
                totalStaking:
                  type: string
                  description: "Total staking balance in Drip"
                totalCollateral:
                  type: string
                  description: "Total collateral balance in Drip"
                nullAddressBalance:
                  type: string
                  description: "Zero address's balance in Drip"
                twoYearUnlockBalance:
                  type: string
                  description: "Two year unlock address's balance in Drip"
                fourYearUnlockBalance:
                  type: string
                  description: "Four year unlock address's balance in `Drip`"
    TpsStat:
      allOf:
        - $ref: "#/components/schemas/ResponseBase"
        - type: object
          properties:
            data:
              type: object
              properties:
                total:
                  type: integer
                list:
                  type: array
                  items:
                    type: object
                    properties:
                      tps:
                        type: string
                        description: ""
                      statTime:
                        type: string
                        description: "Statistics time, UTC."
    ContractDeployedStat:
      allOf:
        - $ref: "#/components/schemas/ResponseBase"
        - type: object
          properties:
            data:
              type: object
              properties:
                total:
                  type: integer
                list:
                  type: array
                  items:
                    type: object
                    properties:
                      count:
                        type: string
                        description: "daily deployed contracts."
                      total:
                        type: string
                        description: "total deployed contracts."
                      statTime:
                        type: string
                        description: "Statistics time, UTC."
    ContractVerifiedStat:
      allOf:
        - $ref: "#/components/schemas/ResponseBase"
        - type: object
          properties:
            data:
              type: object
              properties:
                total:
                  type: integer
                list:
                  type: array
                  items:
                    type: object
                    properties:
                      count:
                        type: string
                        description: "daily verified contracts."
                      total:
                        type: string
                        description: "total verified contracts."
                      statTime:
                        type: string
                        description: "Statistics time, UTC."
    CfxHolderStat:
      allOf:
        - $ref: "#/components/schemas/ResponseBase"
        - type: object
[...]
